// Base ----------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,500i,600,600i,700,700i&display=swap&subset=vietnamese');
@import "base/functions";
@import "base/variables";
@import "base/mixins";
@import "base/root";
@import "base/reboot";
@import "base/type";
@import "base/utilities";
.sProductList{
  @include media-breakpoint-down(md) {
    .sLandingNewItem .bgImgsp .container{
      padding-bottom: 68%;
      display: block;
      justify-content: space-between;
    }
  }
  
  .sBannerChild{
    margin-bottom: 0;
    position: relative;
    >.container{
      position: absolute;
      top: 11px;
      left: 0;
      right: 0;
      z-index: 3;
    }
  }
  .sMainContent{
    margin-top: 0;
    .btn.btn-primary.btn-btn-ic-shop{
      &:after{
        display: none;
      }
    }
  }
  .sProductGrid{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    .showBox{
      display: none;
    }
    .item{
      padding:rem(10);
      max-width: 33.33%;
      flex: 0 0 33.33%;
      margin-bottom: 20px;
      @include media-breakpoint-down(md) {
        max-width: 50%;
        flex: 0 0 50%;
      }
      @include media-breakpoint-down(sm) {
        max-width:100%;
        flex: 0 0 100%;
      }
      &Wrap{
        box-shadow: 0 2px 10px rgba(#838383, .2);
        border-radius: 20px;
        background: #fff;overflow: hidden;
        display: flex;
        height: 100%;
        flex-direction: column;
        @include media-breakpoint-down(md) {
          display: block;
          flex-direction: inherit;
        }
        @include media-breakpoint-down(sm) {
          max-width: 380px;
          margin: 0 auto;
          height: auto!important;
          .btnDiv{
            margin-bottom: 10px;
            margin-top: 10px;
          }
        }
        .image{
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          overflow: hidden;
          img{
            max-width: 100%;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            // width: 100%;
          }
          &Full{
            border-radius: 20px;
            img{
              border-radius: 20px;
            }
          }
        }
        .info{
          border-bottom-right-radius: 20px;
          border-bottom-left-radius: 20px;
          .txt{
            text-align: center;
            color:#fff;
            background: $blue-main;
            font-size: rem(15);
            font-weight: bold;
            padding: rem(15);
            height: rem(82);
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .des{
            background: #fff;
            padding:rem(20);
            height: rem(250);
            overflow: hidden;
            // @include media-breakpoint-down(sm) {
            //   height: 240px;
            // }
            @include media-breakpoint-down(sm) {
              height: 197px;
            }
              h4{
                font-weight: bold;
                font-size: rem(20);
                margin: 0 0 rem(10) 0;
                color:$blue-main
              }
              ul{
                margin: 0;
                padding: 0;
                li{
                  list-style: none;
                  position: relative;
                  padding-left:20px;
                  margin-bottom: 10px;
                  &:after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 2px;
                    width: 15px;
                    height: 15px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.945' height='15.486' viewBox='0 0 14.945 15.486'%3E%3Cg id='Group_326' data-name='Group 326' transform='translate(-32.859 -117.859)'%3E%3Cpath id='Path_29503' data-name='Path 29503' d='M43.06,126.119A5.336,5.336,0,0,0,39,121.858a2.711,2.711,0,0,0-2.345.432,2.45,2.45,0,0,0-.362,2.862,10.966,10.966,0,0,0,2.3,2.931c3.135,2.634,8.369,4.092,8.633,3.916.171-.115,1.507-3.77,1.167-9.522a7.545,7.545,0,0,0-.649-2.838c-1.01-2.1-3.291-2.53-4.363-.265a9.283,9.283,0,0,0-.66,5.949' transform='translate(-0.638)' fill='%2389d1f5'/%3E%3Cpath id='Path_29507' data-name='Path 29507' d='M27.5,128.248a5.336,5.336,0,0,0-4.063-4.261,2.711,2.711,0,0,0-2.345.432,2.45,2.45,0,0,0-.362,2.862,10.949,10.949,0,0,0,2.3,2.93c3.136,2.634,8.37,4.093,8.633,3.917.171-.115,1.506-3.77,1.167-9.522a7.558,7.558,0,0,0-.649-2.838c-1.01-2.1-3.292-2.53-4.363-.265a9.286,9.286,0,0,0-.66,5.948' transform='translate(13 -1.282)' fill='none' stroke='%230054a5' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
                  }
                }
              }
          }
        }
        .btnDiv{
          text-align: center;
          margin-top: 10px;
        }
      }
    }
  }
  .sLandingNewItem {
    position: relative;
    .container{
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
  .list-group{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 rem(40) 0;
    @include media-breakpoint-down(md) {
      margin: 0 0 rem(20) 0;
    }
    li{
      padding: 0 20px;
      @include media-breakpoint-down(md) {
        padding: 0 2px;
      }
    }
    .icon-text{
      width: rem(33);
      height: rem(33);
      @include media-breakpoint-down(md) {
        width: rem(20);
        height: rem(20);
      }
      svg{
        width: rem(33);
        height: rem(33);
        @include media-breakpoint-down(md) {
          width: rem(20);
          height: rem(20);
        }
      }
     
    }
    a{
      color: #999A9D;
      font-size: rem(30);
      font-weight: bold;
      &.active{
        text-decoration: underline;
        color: #0054A5;
      }
      @include media-breakpoint-down(md) {
        font-size: rem(16);
      }
    }
  }
  .tab-content{
    margin-left: -40px;
    margin-right: -40px;
  }
  .tab-content > .tab-pane{
    display: block!important;
    height: 0;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
  }
  .tab-content > .tab-pane.active {
    height: auto;
  }
  .sNewsSliderList-2{
    
  }
}
.listColNew{
  .image{
    img{
      border-radius: 20px;
    }
  }
}
.sLink2.sLink.sLink-col-5 ul li:nth-child(2){
  top: 37px
}
.sLink2.sLink.sLink-col-5 ul li:nth-child(3){
  top: 49px
}
.sLink2.sLink.sLink-col-5 ul li:nth-child(4) {
  top: 61px;
}
.sNewsSlider.sNewsSliderList-2{
  > .item{
    margin: 0;
    background:white;
    a{
      display: block;border-radius: 10px;
      img{
        border-radius: 10px;
      }
    }
    > div:first-child{
      overflow: hidden;
      padding-left: 0;
      padding-right: 0;
      border-radius: 10px;
      img{
        width:100%
      }
    }
    .info{
      padding-left: 30px;
      a:not(.btn){
        height: auto;
      }
      .share{
        text-align: right;
       
        a{
          &.ico-fb{
            margin: 0;
            font-size: rem(15);
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
            &:after{
              content: '';
              display: inline-block;
              width:22px;
              height:22px;
              vertical-align: middle;
              margin-left: 5px;
              background-repeat: no-repeat;
              background-image: url("data:image/svg+xml,%3Csvg id='facebook_1_' data-name='facebook (1)' xmlns='http://www.w3.org/2000/svg' width='21.696' height='21.696' viewBox='0 0 21.696 21.696'%3E%3Ccircle id='Ellipse_825' data-name='Ellipse 825' cx='10.848' cy='10.848' r='10.848' transform='translate(0 0)' fill='%233b5998'/%3E%3Cpath id='Path_30939' data-name='Path 30939' d='M44.075,28.827H42.14v7.091H39.207V28.827H37.812V26.335h1.395V24.722a2.75,2.75,0,0,1,2.959-2.959l2.172.009v2.419H42.762a.6.6,0,0,0-.622.679v1.467h2.192Z' transform='translate(-30.5 -17.555)' fill='%23fff'/%3E%3C/svg%3E%0A");
            }
          }
        }
        .review{
          display: inline-block;
          vertical-align: middle;
          margin-left:20px;
          span{
            &.icon-start{
              color: #CCCED0;
              &.checked{
                color: #DE9B1D;
              }
            }
            &.text{
              font-size: 15px;
              color: #0054A5;
              font-weight: normal;
            }
          }
        }
      }
      p{
        & ~ div{
          margin-top:rem(20)
        }
      }
    }
  }
  
}
.btn-group2{
  max-width: 440px;
  a{
    width: 100%;
    &.btn-ic-shop-2{
      background-color: #0054A5;
      &::before{
       
      }
      &:after{
        background-image: url("data:image/svg+xml,%3Csvg id='store' xmlns='http://www.w3.org/2000/svg' width='21.263' height='18.605' viewBox='0 0 21.263 18.605'%3E%3Cg id='Group_1949' data-name='Group 1949'%3E%3Cpath id='Path_30909' data-name='Path 30909' d='M21.243,37.82,19.914,32.5a.664.664,0,0,0-.645-.5H1.993a.664.664,0,0,0-.645.5L.02,37.82A.65.65,0,0,0,0,37.98a3.37,3.37,0,0,0,1.329,2.7v9.262a.665.665,0,0,0,.664.664H8.638a.665.665,0,0,0,.664-.664V45.29h2.658v4.651a.665.665,0,0,0,.664.664H19.27a.665.665,0,0,0,.664-.664V40.679a3.37,3.37,0,0,0,1.329-2.7A.65.65,0,0,0,21.243,37.82ZM18.605,49.277H13.29V44.625a.665.665,0,0,0-.664-.664H8.638a.665.665,0,0,0-.664.664v4.651H2.658V41.25a2.948,2.948,0,0,0,.5.053,3.1,3.1,0,0,0,2.492-1.285,3.058,3.058,0,0,0,4.984,0,3.058,3.058,0,0,0,4.984,0A3.1,3.1,0,0,0,18.107,41.3a2.948,2.948,0,0,0,.5-.053Zm-.5-9.3A1.918,1.918,0,0,1,16.28,37.98a.664.664,0,0,0-1.329,0,1.918,1.918,0,0,1-1.827,1.993A1.918,1.918,0,0,1,11.3,37.98a.664.664,0,0,0-1.329,0A1.918,1.918,0,0,1,8.14,39.974,1.918,1.918,0,0,1,6.313,37.98a.664.664,0,0,0-1.329,0,1.918,1.918,0,0,1-1.827,1.993A1.911,1.911,0,0,1,1.33,38.057l1.183-4.728H18.752l1.183,4.728A1.913,1.913,0,0,1,18.107,39.974Z' transform='translate(0 -32)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
      }
    }
    &:hover{
      background-color: #3EB7E4;
    }
  }
  &.row{
    margin:0 -5px;
    >div{
      padding: 0 5px;
    }
  }
 
}
.sLandingProductContent-4{
  background:#F9F3F0;
  padding-top:rem(40);
  .image{
    position: relative;
    text-align: center;
    padding:0 15px;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
    img{
      max-width: 100%;
    }
    .ttl_line{
      font-size: 1.25rem;
      font-weight: bold;
      background: #3EB7E4;
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      display: block;
      text-align: center;
      color: #fff;
      padding: 13px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      b{
        position: relative;
        z-index: 3;
      }
      &:before{
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        left: -10px;
        right: -10px;
        top:-10px;
        content: '';
        position: absolute;
        bottom:0;
        background: rgba(62,183,228 , 0.3);
      }
    }
  }
  .infoSlider-2{
    .item{
      padding-left: 60px;
      background:none; 
    }
  }
}
.sProductDetail.sProduct.sProductList.sNew{
  .bg-khuyen-mai{
    background:#E9EDF2;
  }
}
