extends layouts/_layout_default

block setting
    - title = ""

block content
    section.sMainChild
      .sBanerChild
        +bgImg(imgPath + 'banner/truyenthong.jpg','image')
      .sEvent
        .container
          +breadcrumb([{'title':'Library','link':'#'},{'title':'Data'}])
          .form-style
            .row
              .col-sm-6
                .form-group
                  label(for="") SAp xep
                  select.selectpicker.form-control(name="")
                    option(value="sample 1") sample 1
                    option(value="sample 1") sample 1
                    option(value="sample 1") sample 1
              .col-sm-6
                +input-box("text","inputSearch","","Nhap tu khoa",'','')
          .sEventContent
            .page-header.text-center
              i.icon-1.icon-title
              h2 text 
            include modules/_event
            .page-header.text-center
              i.icon-1.icon-title
              h2 text2
            .listEvent
              +itemEvent2(imgPath + 'truyenthong/img1.jpg','image',"#","Lorem Ipsum has been the industry's standard dummy")
              +itemEvent2(imgPath + 'truyenthong/img1.jpg','image',"#","Lorem Ipsum has been the industry's standard dummy")
              +itemEvent2(imgPath + 'truyenthong/img1.jpg','image',"#","Lorem Ipsum has been the industry's standard dummy")