.bigImageEvent
    +itemBigEvent(imgPath + 'truyenthong/img1.jpg','image',"#","Lorem Ipsum has been the industry's standard dummy text")
.thumbImageEvent.sSliderEvent
    .sSliderEventInner
        - for (var x = 1; x < 6; x++)
            +itemEvent(imgPath + 'truyenthong/img2.jpg','image',"#","Lorem Ipsum has been the industry's standard dummy text")
.text-center
    a(href="#").v-all Xem them