extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "about";
    - bodyClass = 'noStick';

block content
    .sMainChild.sAboutChild.sMainChild-other
        .container
            +breadcrumb([{'title':'VitaDairy','link':'vitadairy.html'},{'title':' Câu chuyện VitaDairy'}])
            .sMainContent
                .sLink#stickMenu-2.sLinkLine
                    .d-flex.navLink
                        .flex-item: a(href="#itemStory1")
                            span.icon-link
                                <svg viewBox="0 0 40 40" class="icon-shape">
                                    <use xlink:href="#ic-lichsu-1"></use>
                                </svg>
                            span.icon-text Lịch sử <br>phát triển
                        .flex-item: a(href="#itemStory2")
                            span.icon-link
                                <svg viewBox="0 0 40 40" class="icon-shape">
                                    <use xlink:href="#ic-lichsu-2"></use>
                                </svg>
                            span.icon-text Giá trị <br>cốt lõi
                        .flex-item: a(href="#itemStory3")
                            span.icon-link
                                <svg viewBox="0 0 40 40" class="icon-shape">
                                    <use xlink:href="#ic-lichsu-3"></use>
                                </svg>
                            span.icon-text Đầu tư <br>khoa học
                        .flex-item: a(href="#itemStory4")
                            span.icon-link
                                <svg viewBox="0 0 40 40" class="icon-shape">
                                    <use xlink:href="#ic-lichsu-4"></use>
                                </svg>
                            span.icon-text Chất lượng <br>sản phẩm
    .sMainContent-gray#itemStory1
        .container     
            .page-header
                h2
                    span.icon-text.icon-ab-1
                    span.ttl-text Lịch sử
                h3 Phát triển
            .page-header-info
                p Khi một bác sỹ chỉ có vài giây để mở thông đường thở giữa hai động mạch cổ, cứu thoát bệnh nhân giữa nguy cơ tử vong chỉ trong gang tất, họ không có thời gian để nghĩ về trách nhiệm của đường dao đó. Với họ, cứu người là một nghĩa vụ. Đấy cũng là giá trị mà Tiến sỹ Dinh dưỡng Nguyễn Tú Anh, nhà sáng lập của VitaDairy, chia sẻ với chồng là Bác sĩ hồi sức cấp cứu ở Bệnh viện Bạch Mai Hà Nội. Dù việc nghiên cứu thiết kế sản phẩm dinh dưỡng của chị có khác với việc cầm dao mổ của anh, nhưng nghĩa vụ đối với con người đều như nhau.
            .sStory
                +itemStory('20 năm trước',imgPath + 'aboutus/cauchuyen/img-01.jpg','Cứu người là nghĩa vụ và trách nhiệm của một bác sỹ','Hơn 20 năm trước, Bác sỹ Lê Văn Ký đã áp dụng kỹ thuật mở khí quản để cứu sống nhiều bệnh nhân, đây là kỹ thuật cấp cứu đòi hỏi kỹ thuật cao, và là lựa chọn duy nhất mà không phải bác sỹ nào cũng dám thực hiện. Là một bác sỹ cấp cứu, bác sỹ Ký hiểu rõ, những trường hợp bệnh nhân nặng trên nền suy kiệt, thiếu năng lượng trường diễn sẽ làm tăng thời gian điều trị và thậm chí tăng tỷ lệ tử vong. Nếu có chế độ dinh dưỡng nâng cao thể trạng, người bệnh sẽ đạt được kết quả điều trị tốt và giảm tử vong.<br>Những trăn trở đó được bác sĩ Ký chia sẻ với vợ – Tiến sĩ Dinh dưỡng, Bác sĩ Nguyễn Tú Anh để cùng quyết tâm khởi nghiệp với mong muốn góp phần hỗ trợ điều trị cho người bệnh bằng chế độ dinh dưỡng hợp lý và sản phẩm dinh dưỡng tốt.')
                +itemStory('Năm 2005',imgPath + 'aboutus/cauchuyen/img-02.jpg','VitaDairy ra đời từ những con người thực sự có tâm huyết','VitaDairy được thành lập bởi đội ngũ gồm những người tâm huyết trong lĩnh vực dinh dưỡng và sức khỏe. Với mong muốn gây ấn tượng mạnh với người tiêu dùng Việt, VitaDairy hướng tới sản xuất sản')
                +itemStory('Năm 2007',imgPath + 'aboutus/cauchuyen/img-03.jpg','Xây dựng nhà máy VitaDairy đầu tiên','Năm 2007, nhà máy nghiên cứu và sản phẩm các sản phẩm dinh dưỡng đầu tiên của VitaDairy được xây dựng tại Hà Nội. Từ ý định ban đầu đưa dinh dưỡng đóng góp cho điều trị, VitaDairy đã vươn xa ra')
                +itemStory('Năm 2008',imgPath + 'aboutus/cauchuyen/img-04.jpg','Xây dựng nhà máy VitaDairy thứ 2','Với thế mạnh là thị trường các bệnh viện lớn ở phía Bắc như Bạch Mai, Hữu nghị, Việt Đức, 103, 108… Năm 2018, VitaDairy tăng cường sự hiện diện của mình ở miền Nam thông qua việc đưa vào hoạt động…')
                +itemStory('Năm 2009',imgPath + 'aboutus/cauchuyen/img-05.jpg','“Top 10 thương hiệu được tin dùng nhất Châu Á”','VitaDairy là doanh nghiệp đã tiên phong đưa kháng thể tự nhiên IgG từ sữa non vào sản phẩm dinh dưỡng cho trẻ trên 2 tuổi trở lên ColosBaby. Theo đó, IgG được bảo tồn ở dạng còn hoạt tính và được nhập…')
    .sMainContent-value#itemStory2
        .container
            .page-header
                h2
                    span.icon-text
                        <svg viewBox="0 0 40 40" class="icon-shape">
                            <use xlink:href="#ic-lichsu-2"></use>
                        </svg>
                    span.ttl-text Giá trị
                h3 Cốt lõi     
            .sSlideValue.sSlidethumb-text
                .item
                    .image
                        img(src= imgPath + 'cauchuyen/img-01.jpg' alt="")
                    .info
                        h4 Khoa học
                .item
                    .image
                        img(src= imgPath + 'cauchuyen/img-02.jpg' alt="")
                    .info
                        h4 Sáng tạo
                .item
                    .image
                        img(src= imgPath + 'cauchuyen/img-03.jpg' alt="")
                    .info
                        h4 Tử tế
                .item
                    .image
                        img(src= imgPath + 'cauchuyen/img-02.jpg' alt="")
                    .info
                        h4 Sáng tạo
            .sSlideValueContent.sSlidethumb-text-content
                .info 
                    p Tại VitaDairy, sự sáng tạo và đổi mới luôn là sức sống, là đòn bẩy phát triển doanh nghiệp. VitaDairy đề cao tinh thần dám nghĩ dám làm, khuyến khích học hỏi, ứng dụng những tiến bộ khoa học, kỹ thuật và công nghệ vào quản lý, sản xuất.
                .info 2
                .info 3
                .info 4
    .sMainContent-invest#itemStory3
        .container
            .page-header
                h2
                    span.icon-text
                        <svg viewBox="0 0 40 40" class="icon-shape">
                            <use xlink:href="#ic-lichsu-3"></use>
                        </svg>
                    span.ttl-text Đầu tư
                h3 Khoa học 
            .sNew2Cold
                .item
                    .row
                        .col-sm-6.align-self-center
                            .des 
                                p Với trang thiết bị hiện đại, công nghệ tiên tiến, quy trình khép kín, VitaDairy áp dụng Hệ thống Quản lý Chất lượng ISO 9001:2015; ISO 22000:2005 & HACCP – tiêu chuẩn đánh giá mức độ an toàn vệ sinh thực phẩm hàng đầu hiện nay. Hầu hết các sản phẩm của VitaDairy đều được nghiên cứu hoặc tư vấn công thức bởi các chuyên gia dinh dưỡng hàng đầu Việt Nam cùng với sự giúp sức từ quốc tế.
                                p Tất cả các sản phẩm của VitaDairy đều sử dụng nguồn nguyên liệu chính nhập khẩu từ các nhà cung cấp nguyên liệu bột sữa uy tín hàng đầu thế giới như DSM, Fonterra, Synlait, APS BioGroup, …kết hợp công thức dinh dưỡng được thiết kế riêng cho người Việt, đã mang lại nhiều công dụng vượt trội.
                        .col-sm-6
                            .image
                                img(src= imgPath + 'cauchuyen/dau-tu-khoa-hoc.jpg' alt="")
    .sMainContent-quanlity#itemStory4
         .container
            .page-header
                h2
                    span.icon-text
                        <svg viewBox="0 0 40 40" class="icon-shape">
                            <use xlink:href="#ic-lichsu-4"></use>
                        </svg>
                    span.ttl-text Chất lượng
                h3 Sản phẩm
            .sNew2Cold
                .item
                    .row
                        .col-sm-6.align-self-center
                            .des 
                                p Dựa trên nền tảng nghiên cứu khoa học về dinh dưỡng, VitaDairy đã nghiên cứu hàng ngàn bữa ăn của người Việt để tạo ra những dòng sản phẩm dinh dưỡng đa dạng, mang tiêu chuẩn quốc tế và phù hợp với nhu cầu, thể trạng cũng như khẩu vị của người Việt Nam. VitaDairy hướng tới sản xuất các sản phẩm sữa chăm sóc sức khỏe người tiêu dùng ở nhiều lứa tuổi từ những sản phẩm cung cấp năng lượng cho người lớn, sản phẩm chuyên biệt dành cho người bệnh, sản phẩm cho trẻ biếng ăn, suy dinh dưỡng thấp còi đến các dòng sản phẩm giúp bé phát triển trí não, tăng chiều cao…
                        .col-sm-6
                            .image
                                img(src= imgPath + 'cauchuyen/chat-luong-san-pham.jpg' alt="")