extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "about";
    - bodyClass = 'noStick';

block content
    .sMainChild.sAboutChild.sMainChild-other
        .container
            +breadcrumb([{'title':'VitaDairy','link':'vitadairy.html'},{'title':' Câu chuyện VitaDairy'}])
            .sMainContent-other-about
                .sLink#stickMenu-2.sLinkLine.sQuickLink
                    .d-flex.navLink
                        .flex-item: a(href="#itemStory1")
                            span.icon-link
                                <svg viewBox="0 0 40 40" class="icon-shape">
                                    <use xlink:href="#ic-lichsu-1"></use>
                                </svg>
                            span.icon-text Lịch sử <br>phát triển
                        .flex-item: a(href="#itemStory2")
                            span.icon-link
                                <svg viewBox="0 0 40 40" class="icon-shape">
                                    <use xlink:href="#ic-lichsu-2"></use>
                                </svg>
                            span.icon-text Giá trị <br>cốt lõi
                        .flex-item: a(href="#itemStory3")
                            span.icon-link
                                <svg viewBox="0 0 40 40" class="icon-shape">
                                    <use xlink:href="#ic-lichsu-3"></use>
                                </svg>
                            span.icon-text Đầu tư <br>khoa học
                        .flex-item: a(href="#itemStory4")
                            span.icon-link
                                <svg viewBox="0 0 40 40" class="icon-shape">
                                    <use xlink:href="#ic-lichsu-4"></use>
                                </svg>
                            span.icon-text Chất lượng <br>sản phẩm
    .sMainContent-gray#itemStory1
        .container     
            .page-header
                h3
                    span.icon-text.icon-ab-1
                    span.ttl-text Lịch sử phát triển
            .page-header-info
                p Hơn 20 năm trước, Bác sỹ Lê Văn Ký đã áp dụng kỹ thuật mở khí quản để cứu sống nhiều bệnh nhân, đây là kỹ thuật cấp cứu đòi hỏi kỹ thuật cao, và là lựa chọn duy nhất mà không phải bác sỹ nào cũng dám thực hiện. Là một bác sỹ cấp cứu, bác sỹ Ký hiểu rõ, những trường hợp bệnh nhân nặng trên nền suy kiệt, thiếu năng lượng trường diễn sẽ làm tăng thời gian điều trị và thậm chí tăng tỷ lệ tử vong. Nếu có chế độ dinh dưỡng nâng cao thể trạng, người bệnh sẽ đạt được kết quảđiều trị tốt và giảm tử vong.
            .sStory
                +itemStory('Năm 2005',imgPath + 'aboutus/cauchuyen/img-02.jpg','VitaDairy ra đời từ những con người thực sự có tâm huyết','Nhận thấy vai trò vô cùng quan trọng của dinh dưỡng đối với bệnh nhân trong quá trình điều trị, vào năm 2005, Bác sỹ - Tiến sỹ dinh dưỡng Nguyễn Tú Anh đã thành lập VitaDairy. Chồng bà, một bác sỹ hồi sức cấp cứu tại một bệnh viện lớn là người giữ vai trò cố vấn và truyền cảm hứng lớn cho bà về ý tưởng sản phẩm, định hướng bước đi ban đầu của công ty.<br>Thành quả lớn nhất mà Công ty đạt được trong chặng đường đầu tiên là trúng thầu dự án Hema do Ngân hàng thế giới tài trợ, phối hợp với Bộ y tế cung cấp 3 triệu ly sữa cho trẻ em Suy dinh dưỡng nặng các tỉnh vùng núi phía Bắc.')
                +itemStory('Năm 2005',imgPath + 'aboutus/cauchuyen/img-02.jpg','VitaDairy ra đời từ những con người thực sự có tâm huyết','Nhận thấy vai trò vô cùng quan trọng của dinh dưỡng đối với bệnh nhân trong quá trình điều trị, vào năm 2005, Bác sỹ - Tiến sỹ dinh dưỡng Nguyễn Tú Anh đã thành lập VitaDairy. Chồng bà, một bác sỹ hồi sức cấp cứu tại một bệnh viện lớn là người giữ vai trò cố vấn và truyền cảm hứng lớn cho bà về ý tưởng sản phẩm, định hướng bước đi ban đầu của công ty.<br>Thành quả lớn nhất mà Công ty đạt được trong chặng đường đầu tiên là trúng thầu dự án Hema do Ngân hàng thế giới tài trợ, phối hợp với Bộ y tế cung cấp 3 triệu ly sữa cho trẻ em Suy dinh dưỡng nặng các tỉnh vùng núi phía Bắc.')
                //+itemStory('Năm 2010',imgPath + 'aboutus/cauchuyen/img-04.jpg','Hợp tác với các bệnh viện lớn trong nước nghiên cứu các sản phẩm dinh dưỡng chuyên biệt','Tiếp nối những thành công từ dự án HEMA, VitaDairy chú trọng mạnh mẽ vào hoạt động hợp tác với các bệnh viện lớn như: Bệnh viện Chợ Rẫy, Bệnh viện Bạch Mai, Viện Dinh dưỡng Quốc gia trong việc nghiên…')
                +itemStory('Năm 2012',imgPath + 'aboutus/cauchuyen/img-05.jpg','Xuất khẩu các sản phẩm của VitaDairy ra thị trường quốc tế','Đây là giai đoạn đánh dấu bước tiến mạnh mẽ của VitaDairy ra thị trường thế giới. Thông qua các hoạt động xúc tiến thương mại, tham gia hội chợ, triển lãm Quốc tế về dinh dưỡng, và đặc biệt là xuất khẩu sản…')
                +itemStory('Năm 2018',imgPath + 'aboutus/cauchuyen/img-06.jpg','Xây dựng nhà máy VitaDairy thứ 2','Đánh dấu một dấu mốc rất quan trọng trong bước tiến vươn cao, vươn xa của VitaDairy bằng việc hoàn thành và đưa vào sử dụng nhà máy tại Bình Dương, nhằm tối ưu hóa chuyền cung ứng để phục vụ khách hàng…')
                +itemStory('Năm 2019',imgPath + 'aboutus/cauchuyen/img-07.jpg','Trở thành đối tác duy nhất của Bộ Y tế','Phối hợp cùng Bộ y tế tổ chức chuỗi Hội thảo đầu tiên tại Việt Nam về dinh dưỡng miễn dịch tại: Hà Nội, Cần Thơ, Đà Nẵng, Hồ Chí Minh và trở thành “người tiên phong” trong phân khúc dinh dưỡng này...')
    .sMainContent-value#itemStory2
        .container
            .page-header
                h3
                    span.icon-text
                        <svg viewBox="0 0 40 40" class="icon-shape">
                            <use xlink:href="#ic-lichsu-2"></use>
                        </svg>
                    span.ttl-text Giá trị cốt lõi  
            .sSlideValue.sSlidethumb-text.sSlideValuenoSlider
                .item
                    .image
                        img(src= imgPath + 'aboutus/cauchuyen/img-08.jpg' alt="")
                    .info
                        h4 Khoa học
                .item
                    .image
                        img(src= imgPath + 'aboutus/cauchuyen/img-09.jpg' alt="")
                    .info
                        h4 Sáng tạo
                .item
                    .image
                        img(src= imgPath + 'aboutus/cauchuyen/img-10.jpg' alt="")
                    .info
                        h4 Tử tế
                
            .sSlideValueContent.sSlidethumb-text-content
                .info 
                    p Tại VitaDairy, sự sáng tạo và đổi mới luôn là sức sống, là đòn bẩy phát triển doanh nghiệp. VitaDairy đề cao tinh thần dám nghĩ dám làm, khuyến khích học hỏi, ứng dụng những tiến bộ khoa học, kỹ thuật và công nghệ vào quản lý, sản xuất.
                .info 2
                .info 3
    .sMainContent-invest#itemStory3
        .container
            .page-header
                h3
                    span.icon-text
                        <svg viewBox="0 0 40 40" class="icon-shape">
                            <use xlink:href="#ic-lichsu-3"></use>
                        </svg>
                    span.ttl-text Đầu tư khoa học 
            .sNew2Cold.sNew2ColAuto
                .item
                    .image
                        img(src= imgPath + 'aboutus/cauchuyen/dau-tu-khoa-hoc.jpg' alt="")
                    .des
                        p VitaDairy không ngừng đầu tư khoa học để sáng tạo ra những sản phẩm dinh dưỡng tốt nhất, chăm sóc sức khỏe cộng đồng.Đó là sự đầu tư về:
                        p - Chuyên gia: Đội ngũ các nhà khoa học của VitaDairy đều là các bác sỹ, dược sỹ, chuyên gia dinh dưỡng được đào tạo nhiều năm. Dựa trên nền tảng nghiên cứu khoa học về dinh dưỡng và với kinh nghiệm công tác lâu năm, họ hiểu rõ nhu cầu dinh dưỡng và thể trạng của người Việt để xây dựng nên những sản phẩm dinh dưỡng phù hợp với từng đối tượng, từng độ tuổi. Mỗi sản phẩm, đều là một công trình khoa học dinh dưỡng, được nghiên cứu và phát triển tỷ mỉ, cẩn thận sao cho phù hợp với người tiêu dùng.
                        p - Nhà máy hiện đại, quy trình sản xuất khép kín: Nhà máy mới được xây dựng và đi vào hoạt động năm 2018 với tổng vốn đầu tư ban đầu là 6 triêu USD và công suất lên đến hơn 5,000 tấn/năm. Với hệ thống dây chuyền sản xuất hiện đại và được vận hành bởi hơn 200 công nhân có trình độ tay nghề cao, các sản phẩm được sản xuất tại VitaDairy đều được đảm bảo chất lượng trước khi đến tay người tiêu dùng.    .sMainContent-quanlity#itemStory4
                        p - Áp dụng hệ thống quản lý chất lượng ISO 9001, 22000: VitaDairy hiện đang áp dụng hệ thống quản lý chất lượng theo tiêu chuẩn ISO 9001, ISO 22000 - là những tiêu chuẩn quản lý chất lượng an toàn vệ sinh thực phẩm hàng đầu hiện nay và được tổ chức UKAS Anh Quốc cấpchứng nhận.
                        p - Hợp tác với các bệnh viện lớn: Những đơn vị khoa học mà VitaDairy phối hợp để nghiên cứu công thức hoặc nghiên cứu lâm sàng cho sản phẩm, đều là những bệnh viện đầu ngành cả nước như Bệnh viện Bạch Mai, Bệnh viện Chợ Rẫy hay Viện dinh dưỡng quốc gia… Ngoài ra, còn có sự giúp sức của nhiều chuyên gia dinh dưỡng hàng đầu trên thế giới để tạo nên các sản phẩm dinh dưỡng hiệu quả nhất với người Việt.
    .sMainContent-quanlity#itemStory4    
        .container
            .page-header
                h3
                    span.icon-text
                        <svg viewBox="0 0 40 40" class="icon-shape">
                            <use xlink:href="#ic-lichsu-4"></use>
                        </svg>
                    span.ttl-text Chất lượng sản phẩm
            .sNew2Cold.sNew2ColAuto
                .item
                    .image
                        img(src= imgPath + 'aboutus/cauchuyen/chat-luong-san-pham.jpg' alt="")
                    .des 
                        p Dựa trên nền tảng nghiên cứu khoa học về dinh dưỡng, VitaDairy đã nghiên cứu hàng ngàn bữa ăn của người Việt để tạo ra những dòng sản phẩm dinh dưỡng đa dạng, mang tiêu chuẩn quốc tế và phù hợp với nhu cầu, thể trạng cũng như khẩu vị của người Việt Nam. VitaDairy hướng tớisản xuất các sản phẩm sữa chăm sóc sức khỏe người tiêu dùng ở nhiều lứa tuổi từ những sản phẩm cung cấp năng lượng cho người lớn, sản phẩm chuyên biệt dành cho người bệnh, sản phẩm cho trẻ biếng ăn, suy dinh dưỡng thấp còi đến các dòng sản phẩm giúp bé phát triển trí não, tăng chiều cao…Các sản phẩm dinh dưỡng của VitaDairy đã và đang chăm sóc cho sức khỏe cho nhiều đối tượng và lứa tuổi, bao gồm các dòng sản phẩm chính:
                        p - Sữa bột giàu năng lượng cho người lớn
                        p - Sữa bột &amp; sữa bột pha sẵn cho trẻ nhỏ
                        p - Sữa bột cho phụ nữ mang thai &amp; cho con bú
                        p - Sữa bột bổ sung dinh dưỡng cho bệnh nhân tiểu đường, suy thận, bệnh  nhân gan
                   
                           