extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "about"

block content
    .sMainChild.sAbout
        section.sAbout-1.fixHeight
            .bgImg(style="background-image:url(" + imgPath + 'aboutus/bg-about-1.jpg' + ")")
                .container
                    +breadcrumb([{'title':'VitaDairy'}])
                    .row
                        .col-md-6.align-self-center
                            .page-header
                                h3
                                    span.icon-text
                                        <svg viewBox="0 0 40 40" class="icon-shape">
                                            <use xlink:href="#ic-lichsu-1"></use>
                                        </svg>
                                    span.ttl-text Câu chuyện VitaDairy
                            .info
                                p Những sản phẩm của VitaDairy bắt đầu được ra đời từ năm 2005, từ nhiều nghiên cứu của Tiến sỹ dinh dưỡng Nguyễn Tú Anh - đồng thời là nhà sáng lập VitaDairy. Những sản phẩm mà Tiến sỹ Tú Anh nghiên cứu và ứng dụng trong Vita Dairy phần nhiều được truyền cảm hứng từ chồng mình, vị bác sỹ công tác tại khoa Hồi sức cấp cứu – Bệnh viện Bạch Mai. Đây là hai con người thật sự có tâm huyết, có kiến thức khoa học trong dinh dưỡng và sức khoẻ con người.
                            .btnDiv
                                +a-btn-primary('Xem thêm','#')
                        .col-md-6
                            .image
                                img(src= imgPath + 'aboutus/img-1.png' alt="")
        section.sAbout-2.fixHeight
            .bgImg(style="background-image:url(" + imgPath + 'aboutus/bg-about-2.jpg' + ")")
                .bgImgsp(style="background-image:url(" + imgPath + 'aboutus/bg-about-2-sp.jpg' + ")")
                .container
                    .row
                        .col-md-6.ml-auto
                            .page-header
                                h3
                                    span.icon-text.icon-ab-2
                                    span.ttl-text Cam kết chất lượng
                            .info
                                p VitaDairy hướng đến sản xuất các sản phẩm sữa chăm sóc sức khoẻ người tiêu dùng ở nhiều lứa tuổi và đối tượng, từ những sản phẩm cung cấp năng lượng cho người lớn, sản phẩm chuyên biệt dành cho người bệnh cho đến các sản phẩm cho trẻ nhỏ. Chúng tôi đã nghiên cứu hàng ngàn bữa ăn của người Việt để tạo ra những dòng sản phẩm dinh dưỡng đa dạng, mang tiêu chuẩn quốc tế và phù hợp với nhu cầu, thể trạng cũng như khẩu vị của người Việt Nam.
                            .btnDiv
                                +a-btn-primary('Xem thêm','#')
        section.sAbout-3.fixHeight
            .bgImg(style="background-image:url(" + imgPath + 'aboutus/bg-about-3.jpg' + ")")
                .bgImgsp(style="background-image:url(" + imgPath + 'aboutus/bg-about-3-sp.jpg' + ")")
                .container
                    .row
                        .col-md-6
                            .page-header
                                h3
                                    span.icon-text.icon-ab-3
                                    span.ttl-text Phát triển bền vững
                            .info
                                p VitaDairy hướng đến sản xuất các sản phẩm sữa chăm sóc sức khoẻ người tiêu dùng ở nhiều lứa tuổi và đối tượng, từ những sản phẩm cung cấp năng lượng cho người lớn, sản phẩm chuyên biệt dành cho người bệnh cho đến các sản phẩm cho trẻ nhỏ. Chúng tôi đã nghiên cứu hàng ngàn bữa ăn của người Việt để tạo ra những dòng sản phẩm dinh dưỡng đa dạng, mang tiêu chuẩn quốc tế và phù hợp với nhu cầu, thể trạng cũng như khẩu vị của người Việt Nam.
                            .btnDiv
                                +a-btn-primary('Xem thêm','#')
                    

