extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "doi-tac"

block content
    .sMainChild.sMainChild-other
        .container
            +breadcrumb([{'title':'Đối tác & Phân phối','link':'#'},{'title':'Đối tác'}])
            .sMainContent.sDoitacContent
                ul#myList.list-group.list-group-tab.sNavLink(role='tablist')
                    li: a.active(data-toggle='list', href='#navTab1', role='tab') 
                        span.svg-icon.ic-dt-tab-1
                            <svg viewBox="0 0 18.355 24" class="icon-shape">
                                <use xlink:href="#ic-dt-tab-1"></use>
                            </svg>
                        span Đối tác nghiên cứu dinh dưỡng
                    li: a(data-toggle='list', href='#navTab2', role='tab') 
                        span.svg-icon.ic-dt-tab-2
                            <svg viewBox="0 0 18.355 24" class="icon-shape">
                                <use xlink:href="#ic-dt-tab-2"></use>
                            </svg>
                        span Đối tác phát triển
    .tab-content.sDistTab
        #navTab1.tab-pane.active(role='tabpanel')
            .sDoitacContentInfoWhite
                .container
                    .des
                        p Mọi sản phẩm của VitaDairy đều được nghiên cứu trên cơ sở khoa học, dưới sự tư vấn của các chuyên gia hàng đầu về sức khỏe và hợp tác với các đối tác là bệnh viện lớn như: Bệnh viện Bạch Mai, Chợ Rẫy, Viện dinh dưỡng quốc gia….
                    .sSlideValue.sSlidethumb-text
                        .item
                            .image
                                img(src= imgPath + 'doitac/doitac/img-01.jpg' alt="")
                            .info
                                h4 Bệnh viện Bạch Mai
                        .item
                            .image
                                img(src= imgPath + 'doitac/doitac/img-02.jpg' alt="")
                            .info
                                h4 Bệnh viện Chợ Rẫy
                        .item
                            .image
                                img(src= imgPath + 'doitac/doitac/img-03.jpg' alt="")
                            .info
                                h4 Viện dinh dưỡng quốc gia
                        .item
                            .image
                                img(src= imgPath + 'doitac/doitac/img-02.jpg' alt="")
                            .info
                                h4 Bệnh viện Chợ Rẫy
            .sDoitacContentInfo
                .container    
                    .sSlideValueContent.sSlidethumb-text-content
                        .info 
                            .sContent
                                p: strong  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p: img(src= imgPath + 'doitac/doitac/img-04.jpg' alt="")
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.

                        .info
                            .sContent
                                p: strong  2 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p: img(src= imgPath + 'doitac/doitac/img-04.jpg' alt="")
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                        .info 
                            .sContent
                                p: strong  3 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p: img(src= imgPath + 'doitac/doitac/img-04.jpg' alt="")
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                        .info 
                            .sContent
                                p: strong  4 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p: img(src= imgPath + 'doitac/doitac/img-04.jpg' alt="")
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
        #navTab2.tab-pane(role='tabpanel')
            .sDoitacContentInfoWhite
                .container
                    .des
                        p Mọi sản phẩm của VitaDairy đều được nghiên cứu trên cơ sở khoa học, dưới sự tư vấn của các chuyên gia hàng đầu về sức khỏe và hợp tác với các đối tác là bệnh viện lớn như: Bệnh viện Bạch Mai, Chợ Rẫy, Viện dinh dưỡng quốc gia….
                    .sSlideValue.sSlidethumb-text
                        .item
                            .image
                                img(src= imgPath + 'doitac/doitac/img-01.jpg' alt="")
                            .info
                                h4 Bệnh viện Bạch Mai 2
                        .item
                            .image
                                img(src= imgPath + 'doitac/doitac/img-02.jpg' alt="")
                            .info
                                h4 Bệnh viện Chợ Rẫy 2
                        .item
                            .image
                                img(src= imgPath + 'doitac/doitac/img-03.jpg' alt="")
                            .info
                                h4 Viện dinh dưỡng quốc gia 2
                        .item
                            .image
                                img(src= imgPath + 'doitac/doitac/img-02.jpg' alt="")
                            .info
                                h4 Bệnh viện Chợ Rẫy 2
            .sDoitacContentInfo
                .container    
                    .sSlideValueContent.sSlidethumb-text-content
                        .info 
                            .sContent
                                p: strong  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p: img(src= imgPath + 'doitac/doitac/img-04.jpg' alt="")
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.

                        .info
                            .sContent
                                p: strong  2 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p: img(src= imgPath + 'doitac/doitac/img-04.jpg' alt="")
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                        .info 
                            .sContent
                                p: strong  3 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p: img(src= imgPath + 'doitac/doitac/img-04.jpg' alt="")
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                        .info 
                            .sContent
                                p: strong  4 Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.
                                p: img(src= imgPath + 'doitac/doitac/img-04.jpg' alt="")
                                p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.

            