.s404Page {
  display: flex;
  align-items: center;

  background: {
    image: url($img-path + "bg-404.jpg");
    size: cover;
    repeat: no-repeat;
    position: right center;
  }

  .page-header {
    h3 {
      font-size: rem(48);

      @include media-breakpoint-up(md) {
        font-size: rem(30);
      }

    }

    p {
      font-size: rem(34);

      @include media-breakpoint-up(md) {
        font-size: rem(20);
      }
    }
  }

  .btn.btn-primary {
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='13.987' viewBox='0 0 20 13.987'%3E%3Cg id='return' transform='translate(0 -76.97)'%3E%3Cg id='Group_771' data-name='Group 771' transform='translate(0 76.97)'%3E%3Cpath id='Path_29802' data-name='Path 29802' d='M15.033,81.022H1.41l2.864-3.21a.505.505,0,0,0-.754-.673L.295,80.754a1.16,1.16,0,0,0,0,1.545l3.226,3.616a.505.505,0,0,0,.754-.673L1.41,82.032H15.033a3.957,3.957,0,0,1,0,7.914H12.627a.505.505,0,0,0,0,1.01h2.405a4.967,4.967,0,1,0,0-9.935Z' transform='translate(0 -76.97)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
  }
}