.icon-dt-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60.168' height='50' viewBox='0 0 60.168 50'%3E%3Cg id='respect' transform='translate(0 -43.261)'%3E%3Cg id='Group_392' data-name='Group 392' transform='translate(53.079 48.107)'%3E%3Cg id='Group_391' data-name='Group 391'%3E%3Cpath id='Path_29569' data-name='Path 29569' d='M452.662,85.508a1.159,1.159,0,1,0,.338.817A1.162,1.162,0,0,0,452.662,85.508Z' transform='translate(-450.688 -85.169)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_394' data-name='Group 394' transform='translate(25.988 75.89)'%3E%3Cg id='Group_393' data-name='Group 393'%3E%3Cpath id='Path_29570' data-name='Path 29570' d='M222.973,321.034a1.159,1.159,0,1,0,.338.817A1.162,1.162,0,0,0,222.973,321.034Z' transform='translate(-220.999 -320.695)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_396' data-name='Group 396' transform='translate(0 43.261)'%3E%3Cg id='Group_395' data-name='Group 395' transform='translate(0 0)'%3E%3Cpath id='Path_29571' data-name='Path 29571' d='M57.816,52.433A1.175,1.175,0,1,0,55.772,53.6a15.787,15.787,0,0,1-2.563,18.918l-.891.891a4.4,4.4,0,0,0-1-1.549L39.24,59.78a8.12,8.12,0,0,0,2.16-1.547l2.316-2.316a1.175,1.175,0,1,0-1.662-1.662l-2.316,2.316a5.723,5.723,0,0,1-4.073,1.687h-4.63a1.176,1.176,0,0,0-.831.344l-3.544,3.544a2.7,2.7,0,1,1-3.817-3.817l8.092-8.092a15.817,15.817,0,0,1,18.773-2.645,1.175,1.175,0,0,0,1.14-2.056,18.232,18.232,0,0,0-11.177-2.1,17.911,17.911,0,0,0-9.577,4.37A18.1,18.1,0,0,0,5.3,74.163l.443.443A1.175,1.175,0,0,0,6,74.8,4.419,4.419,0,0,0,10.41,78.88c.059,0,.118,0,.177,0,0,.059,0,.119,0,.179a4.425,4.425,0,0,0,4.429,4.427c.059,0,.118,0,.177,0,0,.059,0,.119,0,.179a4.425,4.425,0,0,0,4.429,4.427c.06,0,.119,0,.179,0a4.427,4.427,0,0,0,7.554,3.311l1.643-1.643,2.219,2.218a4.427,4.427,0,0,0,7.552-3.353c.074,0,.148.006.222.006a4.421,4.421,0,0,0,4.423-4.6c.059,0,.119,0,.179,0A4.424,4.424,0,0,0,48,79.411c.059,0,.119,0,.179,0a4.426,4.426,0,0,0,4.092-2.736,1.174,1.174,0,0,0,.317-.225l2.279-2.279A18.143,18.143,0,0,0,57.816,52.433ZM10.41,76.531a2.078,2.078,0,0,1-1.47-3.548l2.025-2.025A2.078,2.078,0,0,1,13.9,73.9L11.88,75.923A2.065,2.065,0,0,1,10.41,76.531Zm3.132,3.993a2.078,2.078,0,0,1,0-2.939l2.025-2.025h0A2.078,2.078,0,0,1,18.506,78.5l-2.025,2.025A2.081,2.081,0,0,1,13.542,80.524Zm4.6,4.6a2.078,2.078,0,0,1,0-2.939l2.025-2.025h0A2.078,2.078,0,0,1,23.107,83.1l-2.025,2.025A2.08,2.08,0,0,1,18.143,85.125ZM27.709,87.7l-2.025,2.025a2.078,2.078,0,0,1-2.939-2.939l2.025-2.025h0A2.078,2.078,0,0,1,27.709,87.7ZM49.653,76.457a2.078,2.078,0,0,1-2.939,0l-4.892-4.892h0l-4.6-4.6a1.175,1.175,0,0,0-1.662,1.662l9.493,9.493a2.078,2.078,0,1,1-2.939,2.939L32.62,71.564a1.175,1.175,0,0,0-1.662,1.662l4.6,4.6h0l4.892,4.892a2.078,2.078,0,1,1-2.939,2.939L32.62,80.767a1.173,1.173,0,0,0-.3-.217l-1.4-1.4a1.175,1.175,0,0,0-1.662,1.662l6.546,6.546A2.078,2.078,0,1,1,32.869,90.3l-2.491-2.491A4.43,4.43,0,0,0,26.239,81.8c-.06,0-.119,0-.179,0A4.424,4.424,0,0,0,21.638,77.2c-.06,0-.119,0-.179,0A4.424,4.424,0,0,0,17.037,72.6c-.06,0-.119,0-.179,0A4.426,4.426,0,0,0,9.3,69.3L7.279,71.321a4.427,4.427,0,0,0-.652.831A15.752,15.752,0,0,1,28.4,49.444L21.18,56.667a5.05,5.05,0,0,0,7.142,7.142l3.2-3.2h4.143a8.231,8.231,0,0,0,1.015-.065L49.654,73.517A2.082,2.082,0,0,1,49.653,76.457Z' transform='translate(0 -43.261)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.icon-dt-2 {
  background-position: bottom!important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73.342' height='50' viewBox='0 0 73.342 50'%3E%3Cpath id='delivery-truck' d='M59.961,655.069a6.772,6.772,0,0,0-4.779,1.971,6.636,6.636,0,0,0,0,9.5,6.8,6.8,0,0,0,4.779,1.971,6.721,6.721,0,0,0,0-13.441Zm0,10.454a3.734,3.734,0,1,1,0-7.467,3.734,3.734,0,0,1,0,7.467Zm1.732-32.841a1.45,1.45,0,0,0-1-.388H53.032a1.5,1.5,0,0,0-1.493,1.493v12.246a1.5,1.5,0,0,0,1.493,1.493H65.188a1.5,1.5,0,0,0,1.493-1.493v-8.2a1.5,1.5,0,0,0-.493-1.105Zm2,11.858h-9.17v-9.274h5.585l3.584,3.226Zm-40.2,10.529a6.772,6.772,0,0,0-4.779,1.971,6.636,6.636,0,0,0,0,9.5,6.8,6.8,0,0,0,4.779,1.971,6.721,6.721,0,0,0,0-13.441Zm0,10.454a3.734,3.734,0,1,1,0-7.467,3.734,3.734,0,0,1,0,7.467Zm-9.961-8.617h-3v-3.972a1.493,1.493,0,1,0-2.987,0V658.4a1.5,1.5,0,0,0,1.493,1.493h4.5a1.493,1.493,0,0,0,0-2.987Zm7.572-8.139a1.5,1.5,0,0,0-1.493-1.493H1.493a1.493,1.493,0,0,0,0,2.987H19.609A1.488,1.488,0,0,0,21.1,648.767ZM4.525,643.376l18.115.1A1.508,1.508,0,0,0,24.149,642a1.479,1.479,0,0,0-1.478-1.508l-18.115-.1H4.54a1.493,1.493,0,0,0-.015,2.987Zm3.047-6.78H25.687a1.493,1.493,0,0,0,0-2.987H7.572a1.493,1.493,0,0,0,0,2.987Zm65.218-2.016h0L62.1,625.723a1.471,1.471,0,0,0-.956-.343H48.566V620a1.5,1.5,0,0,0-1.493-1.493H9.035A1.5,1.5,0,0,0,7.542,620v10.932a1.493,1.493,0,0,0,2.987,0V621.5H45.594v35.409H33.348a1.493,1.493,0,0,0,0,2.987H51.583a1.493,1.493,0,0,0,0-2.987h-3V628.367H60.618l9.737,8.065-.1,20.445H68.7a1.493,1.493,0,0,0,0,2.987h3.032a1.485,1.485,0,0,0,1.493-1.479l.119-22.64A1.578,1.578,0,0,0,72.79,634.579Z' transform='translate(0 -618.51)' fill='%233eb7e4'/%3E%3C/svg%3E%0A");
}
.sListNew{
  position: relative;
  z-index: 3;
}
.sPartner {
  &-1 {
    padding: rem(40) 0 rem(40) 0;
    background: {
      image: url($img-path + 'bg-doi-tac-1.jpg');
      size: cover;
      repeat: no-repeat;
      position: right center;
    }
 
    .des {
      margin-bottom: rem(30);
    }
    &.fixHeight{
      display: flex;
      align-items: center;
      position: relative;
      .breadcrumb{
        margin-bottom: rem(30);
        @include media-breakpoint-up(lg) {
            position: absolute;
            top:30px;
        }
    }
    @include media-breakpoint-down(md) {
      align-items: end;
    }
    }
    @include media-breakpoint-down(md) {
      background: {
        image: url($img-path + 'bg-doi-tac-1-sp.jpg');
        size: cover;
        repeat: no-repeat;
        position: center bottom;
      }
    }
  }

  &-2 {
    padding: rem(40) 0 rem(40) 0;
    min-height: 667px;
    display: flex;
    align-items: center;
    background: {
      image: url($img-path + 'bg-doi-tac-2.jpg');
      size: cover;
      repeat: no-repeat;
      position: left center;
    }
    .image{
      img{
        max-width: 100%;
      }
    }
    .des {
      margin-bottom: rem(30);
    }
    &.fixHeight{
      display: flex;
      align-items: center;
      position: relative;
    }
    @include media-breakpoint-down(md) {
      .sListNewItem{
        .row{
          >div:first-child{
            order: 2;
            text-align: center;
          }
        }
      }
    }
  
  }

}

.sSlideLogo {
  padding-left: 20px;
  padding-right: 20px;

  .owl-item {
    padding: rem(20);

    .item {
      .image {
        background: #fff;
        box-shadow: 0px 3px 40px rgba(131, 131, 131, 0.15);
        border-radius: 10px;
        text-align: center;
        padding: rem(10);

        img {
          width: auto;
          display: inline-block;
          max-width: 100%;
        }
      }

      .info {
        margin-top: rem(20);

        h4 {
          font-size: rem(20);
          text-align: center;
          color: $blue-main;
          font-weight: bold;
        }
      }
    }

  }

}

.sNew2Cold {
  .item {
    padding: rem(30) 0;
    // &.fixHeight{
    //   display: flex;
    //   align-items: center;
    //   flex-direction: row;
    // }
    @include media-breakpoint-down(md) {
      padding: rem(10) 0;
    }
    @include media-breakpoint-up(lg) {
      &:nth-child(2n) {
        .row {
          >div {
            &:first-child {
              order: 2;
            }
  
            &:last-child {
              order: 1;
            }
          }
        }
      }
    }
    h4 {
      font-weight: bold;
      font-size: rem(34);
      color: $blue-main;
      margin-top: 0;
    }

    .image {
      margin-top:rem(15);
      margin-bottom: rem(15);
      img {
        max-width: 100%;
        border-radius: rem(50);
        @include media-breakpoint-down(md) {
          border-radius: rem(20);
        }
      }
    }

    .des {
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

  }
}

//phan phoi
.sDist {
  padding-top:rem(30);
  background: {
    image:url($img-path + "bg-doi-tac.jpg");
    repeat:no-repeat;
    position: top right;
    color: #f3f9fd;
  };
  // .container{
  //   position: relative;
  // }
  // .breadcrumb{
  //   position: absolute;
  //   top:rem(30);
  // }
  .sSlideValueContent{
    position: relative;
  }

}
.sDistTab.tab-content > .tab-pane{
  display: block!important;
  height: 0;
  overflow: hidden;
  @include transition();
}
.sDistTab.tab-content > .tab-pane.active{
  height: auto;
}
.sDistTab{
  @include media-breakpoint-down(md) {
    .sSlideValue{
      padding-left: rem(30);
      padding-right: rem(30);
    }
  }

}


.sDoitacContent {
  &Info{
    &White{
      background: white;
    }
    position: relative;
    padding: rem(80) 0;
    background: {
        image:url($img-path + "bg-doitac.jpg");
        repeat:no-repeat;
        position: top;
        size:cover;
    };
    .sSlideValueContent{
      background: none;
      box-shadow: 0 3px 40px rgba(131, 131, 131, 0);
      padding: 0;
      border-radius: 0;
      &:before{
        display: none;
      }
     
    }
  }
  .list-group {
  }

  .tab-content {
  }
}

.sDoitacInner {
  padding: 60px 0;
  background: #ccc;
  margin-top: 30px;

  .item {
    padding: 20px;

    .image {
      @include bg-box(378, 239);
    }

    .info {
      padding-top: 20px;
    }
  }
}