.sFaqPage{
    .list-group-col4{
        li{
            flex: 0 0 25%;
            max-width: 25%;
            @include media-breakpoint-down(md) {
                flex: 0 0 50%;
                max-width: 50%;
            }
            @media (max-width: 480px){
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
.faqGrid{
    @include media-breakpoint-down(md) {
        margin-bottom: rem(30);
    }
    .item {
        border: 2px dotted #CCCED0;
        border-radius: 20px;
        padding: rem(20);
        margin-top: rem(20);
        @include transition();
        img{
            width: 90px;
            height: 90px;
            float: left;
            border-radius: 50%;
            margin-right: 20px;
            margin-bottom: rem(10);
            @include media-breakpoint-down(md) {
                width: 60px;
                height: 60px;
            }
        }
        h2{
            color:$blue-main;
            font-size: rem(15);
            font-weight: bold;
            margin: 0;
            padding-bottom: rem(10);
        }
        p{
            margin: 0;
        }
        &:hover{
            background: rgba(#3EB7E4, 0.1);
        }
    }
}
.sNavtag{
    margin-top: rem(20);
    a{
        border:1px solid $blue-main-light;
        font-size: rem(12);
        display: inline-block;
        padding:5px;
        background: white;
        border-radius: 5px;margin-right: 5px;
        margin-bottom: 5px;
        @include transition();
        &:hover{
            background: $blue-main-light;
            color: #fff;
        }
    }
}