.sMainContent-other {
  margin-bottom: 90px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}

//fix height
.fixHeight {
  .sIntroheader {
    display: flex;
    flex-wrap: wrap;

    // justify-content: center;
    // align-items: center;
    >div {
      &:first-child {}
    }
  }
}

.icon-mom {
  &-1 {
    background: {
      image: url($img-path + "icons/icon-mom-1.svg");
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }

  &-2 {
    background: {
      image: url($img-path + "icons/icon-mom-2.svg");
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }

  &-3 {
    background: {
      image: url($img-path + "icons/icon-mom-3.svg");
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }

  &-4 {
    background: {
      image: url($img-path + "icons/icon-mom-4.svg");
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }
}
.sLinkWrap{
  height: 192px!important;
  margin-bottom: 50px;
  margin-top: -25px;
}
.sLink{

  a {
    text-align: center;
    display: block;
    position: relative;
    text-decoration: none !important;
    @include transition();
    transform: scale(1);

    svg {
      fill: #333333;
      width: 40px;
      height: 40px;
      @include transition();
    }

    span.icon-link {
      width: rem(80);
      height: rem(80);
      margin: 0 auto;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #fff;
      border: 1px solid #CCCED0;
      text-align: center;
      box-shadow: 0 1px 20px rgba(131, 131, 131, 0);
      @include transition();
    }

    .icon-text {
      font-size: rem(15);
      color: #333333;
      font-weight: normal;
      line-height: (26/15);
      margin-top: 17px;
      display: block;
      @include transition();
    }

    @media (min-width: 991.99px) {
      &:hover {
        text-decoration: none !important;
        transform: scale(1.2);
        color: $blue-main;

        svg {
          fill: #0054A5;
        }

        span.icon-link {
          border-color: $blue-main-light;
          box-shadow: 0 1px 20px rgba(131, 131, 131, 0.15);
        }

        span.icon-text {
          color: $blue-main;
          transform: scale(0.8);
        }
      }
    }

    @media (max-width: 991.99px) {
      // span.icon-link {
      //   width: 45px;
      //   height: 45px;

      //   svg {
      //     width: 28px;
      //     height: 28px;
      //   }
      // }

      span.icon-text {
        margin-top: 10px;
        font-size: rem(14);
        br{
          display: none;
        }
      }
    }

  }

  li.active {
    a {
      color: $blue-main;

      svg {
        fill: #0054A5;
      }

      span.icon-link {
        border-color: #3EB7E4;
        box-shadow: 0 1px 20px rgba(131, 131, 131, 0.15);
      }

      span.icon-text {
        color: #0054A5;
      }
    }
  }
  ul{
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;
    position: relative;
    z-index: 2;
    li{
      position: absolute;
    }
  }
  &.sLink-col-6{
    position: relative;
    &:before {
      position: absolute;
      top: 0;
      right: 20px;
      bottom: 0;
      left: 20px;
      content: '';
  
      background: {
        image: url($img-path + "icons/line3.svg");
        repeat: no-repeat;
        position: center;
        size: 100% 100%;
      }
    }
    ul{
      display: flex;
      justify-content: space-between;
      height: 192px;
      li{
        position: relative;
        &:nth-child(1){    top: 36px;
        }
        &:nth-child(2){
          top: 70px;
        }
          
        &:nth-child(3){    top: 35px;
        }
        &:nth-child(4){    top: 72px;
        }
        &:nth-child(5){    top: 40px;
        }
        &:nth-child(6){top: 70px;
        }
      }
    }
    
  }
}
.sLink:not(.sLink-col-6) {
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 20px;
    content: '';

    background: {
      image: url($img-path + "icons/line.svg");
      repeat: no-repeat;
      position: center;
      size: 100% 100%;
    }
  }

  ul,.navLink {
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;
    position: relative;
    z-index: 2;

    &:after {
      content: "";
      display: block;
      padding-top: 13.1203814064%;

      @media (max-width: 767.99px) {
        padding-top: 30%;
      }
    }

    li,.flex-item {
      position: absolute;


      &:nth-child(1) {
        left: 0;
        top: 10%;
      }

      &:nth-child(2) {
        left: 33.33%;
        top: 30%;
      }

      &:nth-child(3) {
        right: 33.33%;
        left: inherit;
        top: 11%;
      }

      &:last-child {
        right: 0;
        top: 31%;
        left: inherit;

        @media (max-width: 768px) {
          top: 40%;
        }
      }

    }
  }

  @media (max-width: 991.99px) {
    &:before {
      display: none;
    }

    ul,.navLink {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      li {
        position: static;
        flex: 0 0 50%;
        max-width: 50%;
        margin-top:20px;

        a {
          position: static;
        }
      }
    }
  }
 
}

.is-sticky {
  @media (min-width: 991.99px) {
    .sLink {
      background: none;
      position: relative;

      &:before {
        display: none;
      }

      &:after {
        top: 0;
        left: -50%;
        right: -50%;
        //background: rgba(255, 255, 255, 0.81);
        background: #F0FBFD;
        bottom: 0;
        height: 66px;
        position: absolute;
        content: '';
      }

      ul,.navLink {
        z-index: 2;
        padding-top: 3px;

        &:after {
          display: none;
        }

        li,.flex-item {
          margin-top: 0;
          margin-right: 0;
          top: 4px!important;

          a {
            position: static;

            span.icon-link {
              width: 40px;
              height: 40px;
              transform: scale(1) !important;

              svg {
                width: 24px;
                height: 24px;
              }
            }

            span.icon-text {
              font-size: rem(12);
              transform: scale(1) !important;
              margin-top: 0;

              br {
                display: none;
              }
            }

            &:hover {
              transform: scale(1) !important;
            }
          }

        }
      }
    }
  }

  @media (max-width: 991.99px) {
    &.sticky-wrapper {
      .sLink {
        position: relative !important;
      }
    }
  }
}

.sNew {
  .sLandingNew {

    //margin-top:70px;
    .sSliderNew {
      margin-top: rem(40);

      @media (max-width: 991.99px) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }

    &Item {
      &.bg-left {
        .bgImg {
          //background-position: left;
        }

        .info {
          margin-left: auto;
        }
      }

      &.bg-right {
        .bgImg {
          //background-position: right;
        }
      }

      .bgImg {
        @include bg-box(1920, 650);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(30) 0 rem(30) 0;

        .page-header {
          h2 {
            //color: $blue-main;
          }
        }

        .info {
          max-width: 580px;

          @media (max-width: 768px) {
            max-width: inherit;
          }

          .des {
            margin-bottom: rem(20);
          }

        }
      }

      @media (min-width: 1024px) {
        .bgImgsp {
          background: none !important;
        }

        .container {
          min-height: inherit !important;
        }
      }

      @media (max-width: 1023.99px) {
        .bgImg {
          min-height: inherit !important;
          padding: 0;
          display: block;

          &.bgImgpc {
            &:after {
              display: none;
            }
          }
        }

        .container {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }

      @media (max-width: 991.99px) {
        &.fixHeight {
          display: block;
        }

        .bgImg {
          min-height: inherit !important;
          padding: 0;
          display: block;

          &.bgImgpc {
            background: none;

            &:after {
              display: none;
            }
          }
        }

        .bgImgsp {
          background-size: cover;
          background-position: center;

          .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
}
.date {
  font-size: rem(12);
  color: $blue-main-light;

  &:before {
    width: 14px;
    height: 14px;
    content: '';
    display: inline-block;
    vertical-align: text-top;
    margin-right: 6px;
    background-image: url("data:image/svg+xml,%3Csvg id='calendar_1_' data-name='calendar (1)' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath id='Path_29686' data-name='Path 29686' d='M11.662,1.587c0-.008-.007-.014-.009-.022a.215.215,0,0,0-.016-.038.224.224,0,0,0-.026-.039.238.238,0,0,0-.027-.028.212.212,0,0,0-.038-.026.175.175,0,0,0-.083-.027l-.03-.007H10.257C10.2.588,9.82,0,9.333,0S8.47.588,8.41,1.4H7.924C7.863.588,7.487,0,7,0s-.863.588-.924,1.4H5.59C5.53.588,5.153,0,4.667,0S3.8.588,3.743,1.4H3.257C3.2.588,2.82,0,2.333,0S1.47.588,1.41,1.4H.233A.233.233,0,0,0,0,1.633V13.767A.233.233,0,0,0,.233,14h11.2a.233.233,0,0,0,.233-.233v-.7h2.1a.233.233,0,0,0,.228-.28ZM9.333.467c.169,0,.4.358.456.933h-.91C8.93.824,9.165.467,9.333.467ZM7,.467c.169,0,.4.358.456.933h-.91C6.6.824,6.832.467,7,.467Zm-2.333,0c.169,0,.4.358.456.933h-.91C4.263.824,4.5.467,4.667.467Zm-2.333,0c.169,0,.4.358.456.933h-.91C1.93.824,2.165.467,2.333.467ZM.467,1.867H1.41c.06.812.437,1.4.924,1.4a.233.233,0,1,0,0-.467c-.169,0-.4-.358-.456-.933H3.743c.061.812.437,1.4.924,1.4a.233.233,0,1,0,0-.467c-.169,0-.4-.358-.456-.933H6.077c.061.812.437,1.4.924,1.4A.233.233,0,1,0,7,2.8c-.169,0-.4-.358-.456-.933H8.41c.061.812.437,1.4.924,1.4a.233.233,0,1,0,0-.467c-.169,0-.4-.358-.456-.933H11.2V4.2H.467ZM11.2,13.534H.467V4.667H11.2Zm.467-.933V3.9l1.813,8.7Zm0,0' fill='%233eb7e4'/%3E%3Cpath id='Path_29687' data-name='Path 29687' d='M137.177,288h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,137.177,288Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-132.037 -279.608)' fill='%233eb7e4'/%3E%3Cpath id='Path_29688' data-name='Path 29688' d='M217.177,288h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,217.177,288Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-209.706 -279.608)' fill='%233eb7e4'/%3E%3Cpath id='Path_29689' data-name='Path 29689' d='M57.177,288h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,57.177,288Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-54.352 -279.608)' fill='%233eb7e4'/%3E%3Cpath id='Path_29690' data-name='Path 29690' d='M137.177,368h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,137.177,368Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-132.037 -357.295)' fill='%233eb7e4'/%3E%3Cpath id='Path_29691' data-name='Path 29691' d='M217.177,368h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,217.177,368Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-209.706 -357.295)' fill='%233eb7e4'/%3E%3Cpath id='Path_29692' data-name='Path 29692' d='M57.177,368h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,57.177,368Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-54.352 -357.295)' fill='%233eb7e4'/%3E%3Cpath id='Path_29693' data-name='Path 29693' d='M137.177,208h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,137.177,208Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-132.037 -201.939)' fill='%233eb7e4'/%3E%3Cpath id='Path_29694' data-name='Path 29694' d='M217.177,208h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,217.177,208Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-209.706 -201.939)' fill='%233eb7e4'/%3E%3Cpath id='Path_29695' data-name='Path 29695' d='M297.177,288h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,297.177,288Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-287.375 -279.608)' fill='%233eb7e4'/%3E%3Cpath id='Path_29696' data-name='Path 29696' d='M297.177,368h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,297.177,368Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-287.375 -357.295)' fill='%233eb7e4'/%3E%3Cpath id='Path_29697' data-name='Path 29697' d='M297.177,208h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,297.177,208Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-287.375 -201.939)' fill='%233eb7e4'/%3E%3Cpath id='Path_29698' data-name='Path 29698' d='M57.177,208h-.942a.235.235,0,0,0-.235.235v.942a.235.235,0,0,0,.235.235h.942a.235.235,0,0,0,.235-.235v-.942A.235.235,0,0,0,57.177,208Zm-.235.942h-.471v-.471h.471Zm0,0' transform='translate(-54.352 -201.939)' fill='%233eb7e4'/%3E%3C/svg%3E%0A");
  }

}
.listColNew {
  .itemEvent {
    padding: 0 rem(10);

    &Wrap {
      display: flex;
      background: #fff;
      border-radius: 10px;
      overflow: hidden;

      .image {
        max-width: 150px;
        flex: 0 0 150px;
        overflow: hidden;

        >a {
          @include bg-box(150, 150);
          transform: scale(1);
          @include transition();
        }
      }

      .info {
        padding: 15px 20px 10px 20px;

     

        h4 {
          a {
            color: $blue-main;
            font-size: rem(15);
            font-weight: bold;
            line-height: (26/15);
            margin: 0;
            height: (26/15)*2em;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            @include transition();


          }
        }

        .des-content {
          font-size: rem(12);
          line-height: (20/12);
          margin: 0;
          height: (20/12)*2em;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      @include media-breakpoint-up(md) {
        &:hover {
          .image {
            >a {
              transform: scale(1.1);
            }
          }

          .info {
            a {
              color: $blue-main-light;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

.sListNews2Col{
  .item{
    & + .item{
      margin-top:rem(20);
    }
    .image{
      overflow: hidden;  border-radius: 10px;
      a{
        @include bg-box(380,200);
        border-radius: 10px;
        transform: scale(1);
        opacity: 1;
        @include transition();
      }
      
    }
    .info{
      padding-top:rem(20);
      h4{
        a{
          color:$blue-main;
          font-weight: bold;
          font-size: rem(20);
          line-height: (30/20);
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          @include transition();
          &:hover{
            text-decoration: none;
            color:$blue-main-light
          }
        }
      }
      p{
        line-height: (26/15);
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-bottom:0;
      }
    }
    @include media-breakpoint-up(md) {  &:hover{  
      .image{
        a{
          transform: scale(1.05);
          opacity: 0.7;
          @include transition();
        }
 
    }
  }}
  
  }
}