.sNewDetail{
    .sMainContentInfo{
        padding: rem(80) 0;
        
    }
    .sNewsSlider{
        margin-top: rem(50);
        &.sNewsSliderList{
            .item{
                padding: 0;
                margin-bottom: rem(30);
            }
        }

    .btn.btn-link {
        color: $blue-main-light;
        padding-bottom: 0;
        padding-left: 2px;
        text-align: left;
        @include transition();

        &:after {
            background: {
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='13.763' viewBox='0 0 20 13.763'%3E%3Cg id='icon-arrow' transform='translate(0 -41.916)'%3E%3Cpath id='Path_25276' data-name='Path 25276' d='M19.728,48.14l-5.952-5.952A.93.93,0,1,0,12.461,43.5l4.364,4.364H.93a.93.93,0,1,0,0,1.86H16.825l-4.364,4.364a.93.93,0,0,0,1.315,1.315l5.952-5.952A.93.93,0,0,0,19.728,48.14Z' transform='translate(0 0)' fill='%233EB7E4'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
        }
    }
    }
    .sLinkWrap{
        margin-top:rem(30);
    }
}
.bg-dudinh{
    background: {
        image: url($img-path + "bg-dudinhmangthai.jpg");
        size: cover;
        repeat: no-repeat;
        position: bottom center;
      }
}
.bg-thongtin{
    background: {
        image: url($img-path + "bg-thongtinlienquan.jpg");
        size: cover;
        repeat: no-repeat;
        position: bottom center;
      }  
}
.bg-miendich{
    background: {
        image: url($img-path + "bg-miendich.jpg");
        size: cover;
        repeat: no-repeat;
        position: bottom center;
      }  
}
.bg-songkhoe{
    background: {
        image: url($img-path + "bg-songkhoe.jpg");
        size: cover;
        repeat: no-repeat;
        position: bottom center;
      }  
}
.bigImageEvent {
    .image {
        overflow: hidden;
        a {
            overflow: hidden;
            border-radius: 20px; 
            display: block;
            img{
                border-radius: 20px; 
                transform: scale(1);
                max-width: 100%;
                @include transition();
            }
        }
    }

    .info {
        .date {}

        h3 {
            margin: rem(10) 0 rem(10) 0;
            a {
                font-size: rem(34);
                color: $blue-main;
                font-weight: bold;
                line-height: (46/34);
                margin: 0;
                height: (46/34)*2em;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
                @include transition();
            }
        }

        .des {
            font-size: rem(15);
            line-height: (26/15);
            margin: 0;
            height: (26/15)*5em;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .btnDiv-2{
            margin-top:rem(20);
        }
    }
    @include media-breakpoint-up(md) {
        &:hover {
          .image {
            img {
              transform: scale(1.1);
            }
          }

          .info {
            h3 a {
              color: $blue-main-light;
              text-decoration: none;
            }
          }
        }
      }
}

.thumbImageEvent {
    margin-top: 30px;

    .itemEvent {
        padding: rem(30);

        .image {
        }

        .info {
            .date {}

            h4 {
                a {
                    font-size: rem(16);
                    color: inherit;
                }
            }

            .des {}
        }
    }
}

.listEvent {
    .item {
        .image {
            a {
                @include bg-box(326, 224)
            }
        }

        .info {
            h3 {
                a {
                    font-size: rem(16);
                    color: inherit;
                }
            }
        }

        .des {}
    }
}

.sEventChild {}