// Sample code
body {
    line-height: (26/15);
    letter-spacing: -.1px;
    font-weight: normal;
}

.form-control:focus {
    background: $blue-main-light;
    color: white;
    box-shadow: 0 0 0 0rem rgba(62, 183, 228, 0.25);
}
:focus{
    outline:none;
}
a {
    &:focus {
        outline: none;
    }
}

a.btn,
.btn {
    border-radius: 30px;
    padding: rem(11) rem(28);
    font-weight: bold;
    @include transition();
    border: none;

    @media (max-width: 1024px) {
        padding: rem(15) rem(32);
        font-size: rem(15);
    }

    @media (max-width: 767.98px) {
        padding: rem(11) rem(28);
        font-size: rem(15);
    }

    &.btn-primary {
        background: $blue;
        color: white;
        display: inline-block;
        position: relative;
        overflow: hidden;

        &:after {
            z-index: 4;
            position: relative;
            content: '';
            width: rem(20);
            height: rem(14);
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;

            background: {
                size: contain;
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='13.763' viewBox='0 0 20 13.763'%3E%3Cg id='icon-arrow' transform='translate(0 -41.916)'%3E%3Cpath id='Path_25276' data-name='Path 25276' d='M19.728,48.14l-5.952-5.952A.93.93,0,1,0,12.461,43.5l4.364,4.364H.93a.93.93,0,1,0,0,1.86H16.825l-4.364,4.364a.93.93,0,0,0,1.315,1.315l5.952-5.952A.93.93,0,0,0,19.728,48.14Z' transform='translate(0 0)' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E%0A");
                repeat: no-repeat;
                position: center center;
            }
        }

        span {
            position: relative;
        }

        &:before {
            content: '';
            width: 0;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 100%;
            background: $blue;
            transition: all 0.4s ease;
            border-radius: 30px;
        }
    }

    &.btn-secondary {}

    &.btn-link {
        color: $blue-main;
        padding-left: 0;

        &:after {
            content: '';
            width: rem(20);
            height: rem(14);
            display: inline-block;
            vertical-align: middle;
            margin-left: 8px;

            background: {
                size: contain;
                image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='13.763' viewBox='0 0 20 13.763'%3E%3Cg id='icon-arrow' transform='translate(0 -41.916)'%3E%3Cpath id='Path_25276' data-name='Path 25276' d='M19.728,48.14l-5.952-5.952A.93.93,0,1,0,12.461,43.5l4.364,4.364H.93a.93.93,0,1,0,0,1.86H16.825l-4.364,4.364a.93.93,0,0,0,1.315,1.315l5.952-5.952A.93.93,0,0,0,19.728,48.14Z' transform='translate(0 0)' fill='%230054A5'/%3E%3C/g%3E%3C/svg%3E");
                repeat: no-repeat;
                position: center center;
            }
        }
    }

    &:hover {
        &.btn-primary {

            //background:  $blue-main;
            &:before {
                width: 100%;
                left: 0;
                background: $blue-main;
                transition: width 0.3s ease;
            }
        }

        &.btn-link {
            color: $blue-main-light;
            text-decoration: none;

            &:after {
                background: {
                    image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='13.763' viewBox='0 0 20 13.763'%3E%3Cg id='icon-arrow' transform='translate(0 -41.916)'%3E%3Cpath id='Path_25276' data-name='Path 25276' d='M19.728,48.14l-5.952-5.952A.93.93,0,1,0,12.461,43.5l4.364,4.364H.93a.93.93,0,1,0,0,1.86H16.825l-4.364,4.364a.93.93,0,0,0,1.315,1.315l5.952-5.952A.93.93,0,0,0,19.728,48.14Z' transform='translate(0 0)' fill='%233EB7E4'/%3E%3C/g%3E%3C/svg%3E%0A");
                }
            }
        }

    }
}

.icon {
    &-arr {
        display: inline-block;
        width: rem(32);
        height: rem(45);
        position: relative;
        cursor: pointer;
        left: 0;
        @include transition();

        &:after {
            @include preAfter();
            display: inline-block;
            vertical-align: middle;

            background: {
                size: contain;
                image: url($img-path + 'icons/icon-left.svg');
                repeat: no-repeat;
                position: center center;
            }
        }

        &.icon-right {
            left: inherit;
            right: 0px;
            transform: rotate(180deg)
        }

        &:hover {
            &.icon-left {
                left: -5px;
            }

            &.icon-right {
                right: -5px;
            }

        }

        &.icon-arr-small {
            transform: scale(0.6);
            margin-top: rem(-18);
        }

    }


}

.slick-arrow {
    &.icon-arr.icon-arr-3 {
        opacity: 1;
        @include transition();

        &.icon-left {
            left: -40px;

            @media (max-width: 991.99px) {
                left: -5px;
            }
        }

        &.icon-arr.icon-right {
            right: -40px;
            transform: scale(0.6) rotate(180deg);

            @media (max-width: 991.99px) {
                right: -5px;
            }
        }

        &:hover {
            opacity: 0.6;
        }
    }
}

.icon-arr-2 {
    display: inline-block;
    width: rem(32);
    height: rem(45);
    position: relative;
    cursor: pointer;
    left: 0;
    @include transition();

    @media (max-width: 767.99px) {
        transform: scale(0.6)
    }

    &:after {
        @include preAfter();
        display: inline-block;
        vertical-align: middle;

        background: {
            size: contain;
            image: url($img-path + 'icons/icon-left.svg');
            repeat: no-repeat;
            position: center center;
        }
    }

    &.icon-right {
        left: inherit;
        right: 0px;

        &:after {
            background: {
                size: contain;
                image: url($img-path + 'icons/icon-right.svg');
                repeat: no-repeat;
                position: center center;
            }
        }
    }

    &:hover {
        @include media-breakpoint-up(md) {
            &.icon-left {
                left: -5px;
            }

            &.icon-right {
                right: -5px;
            }
        }
    }
}

.page-header {
    letter-spacing: -0.5px;
    margin: 0 0 20px 0;

    @media (max-width: 1366px) {
        margin: 0 0 10px 0;
    }

    @media (max-width: 767.99px) {
        margin: 0 0 5px 0;
    }

    .icon-text {
        display: inline-block;
        width: rem(56);
        height: rem(49);
        vertical-align: baseline;
        margin-right: 5px;

        background: {
            size: contain;
            repeat: no-repeat;
            position: center center;
        }

        svg {
            width: rem(50);
            height: rem(50);
            fill: $blue-main-light;
            @media (max-width: 1366px) {
                width: rem(35);
                height: rem(35);
            }
            @media (max-width: 767.99px) {
                width: 30px;
                height: 30px;
            }
        }

        @media (max-width: 1366px) {
            width: rem(35);
            height: rem(35);
        }

        @media (max-width: 767.99px) {
            width: 30px;
            height: 30px;
        }

    }

    .ttl-text {
        position: relative;
        bottom: 3px;
    }


    h2 {
        color: $blue-main-light;
        font-size: rem(32);
        font-weight: bold;
        margin: 0;

        @media (max-width: 1366px) {
            font-size: rem(26);
        }

        @media (max-width: 768px) {
            font-size: rem(20);
        }
    }

    h3 {
        color: $blue-main;
        font-size: rem(30);
        font-weight: bold;
        margin: 0;

        @media (max-width: 1366px) {
            font-size: rem(28);
        }

        @media (max-width: 768px) {
            font-size: rem(22);
            margin: 7px 0px;
        }
    }

    p {
        font-size: rem(15);
        margin: rem(10) 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &-content {
        padding: 0px 50px 30px 50px;
        border: 2px dotted #999A9D;
        border-radius: 20px;
        margin-bottom: 40px;

        h2 {
            text-align: center;

            span {
                font-size: rem(48);
                font-weight: bold;
                display: inline-block;
                background: #fff;
                padding: 0 30px;
                color: $blue-main;
                transform: translateY(-50%);
            }
        }

        .des {
            font-style: italic;

            p {
                margin: 0;
                font-style: italic;
            }
        }

        @media (max-width: 991.99px) {
            padding: 0px 20px 20px 20px;
            margin-bottom: 10px;

            h2 {
                span {
                    font-size: rem(30);
                }
            }
        }

        @media (max-width: 768px) {
            h2 {
                span {
                    font-size: rem(24);
                }
            }
        }
    }

    &-2 {
        margin-bottom: rem(20);
        .icon-link {
            display: inline-block;
            vertical-align: text-bottom;
            margin-right: 10px;
    
            svg {
                width: rem(40);
                height: rem(40);
                fill: $blue-main-light;
            }
        }
        h2 {
            font-weight: bold;
            font-size: rem(34);
            color: $blue-main;
        }

        
    }
}

.sMainChild {
    .sMainContent {
        margin-top: rem(60);
        @include media-breakpoint-down(md) {
            margin-top: rem(10);
        }
    }

    &.sMainChild-other {
        padding-top: rem(20);
    }
}

.sBannerChild {
    margin-bottom: rem(40);

    img {
        width: 100%;
    }
}

.sNavLink {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    border-bottom: 1px solid #ECEFF1;
    margin: 0 -10px rem(40) -10px;
    padding: 0;
    flex-direction: row;
    li {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 10px;

        a {
            position: relative;
            color: $body-color;
            font-size: rem(15);
            display: block;
            font-weight: bold;
            text-align: center;
            padding: 9px 3px;
            background: #ECEFF1;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .svg-icon {
                height: 24px;
                display: inline-block;
                vertical-align: text-bottom;
                position: relative;
                margin-right: 10px;

                &.ic-phattrien-1 {
                    width: 19px;
                }

                &.ic-phattrien-2 {
                    width: 25px;
                }

                &.ic-dt-tab-1 {
                    width: 24px;
                }

                &.ic-dt-tab-2 {
                    width: 24px;
                }
            }

            svg {
                fill: #333333;
            }

            &:hover,
            &.active {
                background: $blue-main-light;
                text-decoration: none;
                color: white;

                svg {
                    fill: white;
                }
            }
        }
    }
    @include media-breakpoint-down(sm) {
    border-bottom: none;
    li{
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 10px;
        a{
        border-radius: 5px;
        }
    }
    }
    @include media-breakpoint-up(md) {
        &.list-col-3{
            li{
                flex: 0 0 33.333%;
                max-width: 33.33%;
            }
        }
    }
 
}

.sContent {
    img {
        border-radius: 10px;
        max-width: 100%;
    }
    p{
        margin-bottom: rem(20);
    }
}

.form-style {
    .form-group {
        label {
            color: $blue-main-light;
            font-weight: bold;
            font-size: rem(12);
            padding-left: rem(20);
            display: block;
            text-align: left;
        }

        textarea.form-control {
            height: rem(100);
            resize: none;
            padding-top: 15px;
            overflow: auto;
        }
    }
    .form-file{
        padding:rem(15);
        border-radius: 20px;
        border:2px dotted #CCCED0;
        .custom-file {
            label.custom-file-label{
              color: #333333;
              padding-left: rem(100);
              display: flex;
              align-items: center;
            }
          }
    }
    .custom-checkbox{
        margin-bottom:rem(20);
        
    }
    .capcha{
        img{
            max-width: 100%;
        }
    }
}

@media (max-width: 1024px) {

    html,
    body {
        font-size: 13px;
    }

    main.wrapper {
        overflow: hidden;
        padding-top: 46px;
    }
}

@media (max-width: 768px) {

    html,
    body {
        font-size: 12.5px;
    }
}

@-webkit-keyframes downUp {
    0% {
        bottom: -47px;
    }

    33.33% {
        bottom: -50px;
    }

    100% {
        bottom: -47px;
    }
}

@-moz-keyframes downUp {
    0% {
        bottom: -47px;
    }

    33.33% {
        bottom: -50px;
    }

    100% {
        bottom: -47px;
    }
}

@-o-keyframes downUp {
    0% {
        bottom: -47px;
    }

    33.33% {
        bottom: -50px;
    }

    100% {
        bottom: -47px;
    }
}

@keyframes downUp {
    0% {
        bottom: -47px;
    }

    33.33% {
        bottom: -50px;
    }

    100% {
        bottom: -47px;
    }
}

.sPaiging {
    text-align: center;
    margin-top: rem(40);
}

//no stick
@media (min-width: 991.99px) {
    .noStick {
        header.header.sticky {
            position: relative;
        }
    }
}

//owl theme
.owl-theme {
    .owl-stage-outer {
        .owl-item {
            padding: 0;
            transition: all 0.4s ease-in-out;
            transform: scale(1);

            .book-box {
                transform: scale(1);
            }

            &:not(.center) {
                transform: scale(.7);
            }
        }
    }

    .owl-nav {
        button {
            background: none !important;
            outline: none !important;

            &:focus {
                outline: none !important;
            }
        }

        .owl-prev,
        .owl-next {
            transform: scale(0.8);
            position: absolute;
            top: 35%;
        }

        .owl-prev {
            left: rem(-20);

        }

        .owl-next {
            right: rem(-20);
        }
    }

}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none !important;
}
.sBoxshare{
    .icon-link {
        display: inline-block;
        vertical-align: text-bottom;
        margin-right: 10px;

        svg {
            width: rem(40);
            height: rem(40);
            fill: $blue-main-light;
        }
    }
    @include media-breakpoint-up(md) {
        text-align: right;
    }
    a{
        @include transition();
        span{
            &.icon-link{
                margin-right: rem(10);
                vertical-align: middle;
                svg{
                   
                    stroke: #3EB7E4;
                    fill: #fff;

                }
            }
            &.icon-text{
                font-size: rem(12);
                color:$blue-main-light;
            }
        }
        &:hover{
            text-decoration: none;
            span{
                &.icon-link{
                    svg{
                        stroke:#fff;
                        fill: #3EB7E4;
    
                    }
                }
            }
          
        }
    }
}
.sPolicyPage{
    .breadcrumb{
        margin-bottom:rem(20);
    }
}
.modal-open-2{
    overflow: hidden;
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.icon-date{
    background-image: url("data:image/svg+xml,%3Csvg id='calendar' xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg id='Group_1571' data-name='Group 1571'%3E%3Cg id='Group_1570' data-name='Group 1570'%3E%3Cpath id='Path_30743' data-name='Path 30743' d='M22.953,2.031H21.734V0H19.7V2.031H6.3V0H4.266V2.031H3.047A3.05,3.05,0,0,0,0,5.078V22.953A3.05,3.05,0,0,0,3.047,26H22.953A3.05,3.05,0,0,0,26,22.953V5.078A3.05,3.05,0,0,0,22.953,2.031Zm1.016,20.922a1.017,1.017,0,0,1-1.016,1.016H3.047a1.017,1.017,0,0,1-1.016-1.016V9.547H23.969Zm0-15.437H2.031V5.078A1.017,1.017,0,0,1,3.047,4.063H4.266V6.094H6.3V4.063H19.7V6.094h2.031V4.063h1.219a1.017,1.017,0,0,1,1.016,1.016Z' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1573' data-name='Group 1573' transform='translate(3.824 11.662)'%3E%3Cg id='Group_1572' data-name='Group 1572' transform='translate(0 0)'%3E%3Crect id='Rectangle_329' data-name='Rectangle 329' width='2' height='2' transform='translate(0.176 0.338)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1575' data-name='Group 1575' transform='translate(7.934 11.662)'%3E%3Cg id='Group_1574' data-name='Group 1574' transform='translate(0 0)'%3E%3Crect id='Rectangle_330' data-name='Rectangle 330' width='2' height='2' transform='translate(0.066 0.338)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1577' data-name='Group 1577' transform='translate(11.949 11.662)'%3E%3Cg id='Group_1576' data-name='Group 1576' transform='translate(0 0)'%3E%3Crect id='Rectangle_331' data-name='Rectangle 331' width='2' height='2' transform='translate(0.051 0.338)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1579' data-name='Group 1579' transform='translate(16.059 11.662)'%3E%3Cg id='Group_1578' data-name='Group 1578' transform='translate(0 0)'%3E%3Crect id='Rectangle_332' data-name='Rectangle 332' width='2' height='2' transform='translate(-0.059 0.338)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1581' data-name='Group 1581' transform='translate(20.074 11.662)'%3E%3Cg id='Group_1580' data-name='Group 1580' transform='translate(0 0)'%3E%3Crect id='Rectangle_333' data-name='Rectangle 333' width='2' height='2' transform='translate(-0.074 0.338)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1583' data-name='Group 1583' transform='translate(3.824 15.772)'%3E%3Cg id='Group_1582' data-name='Group 1582' transform='translate(0 0)'%3E%3Crect id='Rectangle_334' data-name='Rectangle 334' width='2' height='2' transform='translate(0.176 0.228)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1585' data-name='Group 1585' transform='translate(7.934 15.772)'%3E%3Cg id='Group_1584' data-name='Group 1584' transform='translate(0 0)'%3E%3Crect id='Rectangle_335' data-name='Rectangle 335' width='2' height='2' transform='translate(0.066 0.228)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1587' data-name='Group 1587' transform='translate(11.949 15.772)'%3E%3Cg id='Group_1586' data-name='Group 1586' transform='translate(0 0)'%3E%3Crect id='Rectangle_336' data-name='Rectangle 336' width='2' height='2' transform='translate(0.051 0.228)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1589' data-name='Group 1589' transform='translate(16.059 15.772)'%3E%3Cg id='Group_1588' data-name='Group 1588' transform='translate(0 0)'%3E%3Crect id='Rectangle_337' data-name='Rectangle 337' width='2' height='2' transform='translate(-0.059 0.228)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1591' data-name='Group 1591' transform='translate(3.824 19.787)'%3E%3Cg id='Group_1590' data-name='Group 1590' transform='translate(0 0)'%3E%3Crect id='Rectangle_338' data-name='Rectangle 338' width='2' height='2' transform='translate(0.176 0.213)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1593' data-name='Group 1593' transform='translate(7.934 19.787)'%3E%3Cg id='Group_1592' data-name='Group 1592' transform='translate(0 0)'%3E%3Crect id='Rectangle_339' data-name='Rectangle 339' width='2' height='2' transform='translate(0.066 0.213)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1595' data-name='Group 1595' transform='translate(11.949 19.787)'%3E%3Cg id='Group_1594' data-name='Group 1594' transform='translate(0 0)'%3E%3Crect id='Rectangle_340' data-name='Rectangle 340' width='2' height='2' transform='translate(0.051 0.213)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1597' data-name='Group 1597' transform='translate(16.059 19.787)'%3E%3Cg id='Group_1596' data-name='Group 1596' transform='translate(0 0)'%3E%3Crect id='Rectangle_341' data-name='Rectangle 341' width='2' height='2' transform='translate(-0.059 0.213)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1599' data-name='Group 1599' transform='translate(20.074 15.772)'%3E%3Cg id='Group_1598' data-name='Group 1598' transform='translate(0 0)'%3E%3Crect id='Rectangle_342' data-name='Rectangle 342' width='2' height='2' transform='translate(-0.074 0.228)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
.input-group-date {
    position: relative;
    span.icon-date {
        width: 20px;
        height: 20px;
        display: block;
        background-size: contain;
        position: absolute;
        right: 15px;
        top: 20px;
    }
}
.icon-down{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48.815' height='40' viewBox='0 0 48.815 40'%3E%3Cg id='ic-down' transform='translate(0 -46.228)'%3E%3Cg id='Group_1525' data-name='Group 1525' transform='translate(0 46.228)'%3E%3Cg id='Group_1524' data-name='Group 1524' transform='translate(0 0)'%3E%3Cpath id='Path_30707' data-name='Path 30707' d='M38.705,59.764A13.643,13.643,0,0,0,11.7,57.133h-.131a11.629,11.629,0,0,0,0,23.258h4.246a1.046,1.046,0,0,0,0-2.093H11.569a9.536,9.536,0,0,1,0-19.072c.279,0,.573.015.9.046a1.043,1.043,0,0,0,1.129-.9,11.657,11.657,0,0,1,3.82-7.153,11.5,11.5,0,0,1,7.633-2.9A11.617,11.617,0,0,1,36.625,59.954c0,.231-.043.828-.043.828a1.049,1.049,0,0,0,.313.825,1.038,1.038,0,0,0,.829.29,8.219,8.219,0,1,1,.83,16.4H33.892a1.046,1.046,0,0,0,0,2.093h4.662a10.314,10.314,0,0,0,.151-20.626Z' transform='translate(0 -46.228)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1527' data-name='Group 1527' transform='translate(16.493 50.977)'%3E%3Cg id='Group_1526' data-name='Group 1526' transform='translate(0 0)'%3E%3Cpath id='Path_30708' data-name='Path 30708' d='M180.162,97.548a8.523,8.523,0,0,0-8.413,7.345,1.01,1.01,0,1,0,2,.273,6.5,6.5,0,0,1,6.411-5.6,1.011,1.011,0,0,0,0-2.021Z' transform='translate(-171.74 -97.548)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3Cg id='Group_1529' data-name='Group 1529' transform='translate(19.732 69.742)'%3E%3Cg id='Group_1528' data-name='Group 1528' transform='translate(0 0)'%3E%3Cpath id='Path_30709' data-name='Path 30709' d='M215.293,298.979a1.011,1.011,0,0,0-1.427-.08l-2.431,2.171V288.638a1.01,1.01,0,0,0-2.021,0V301.07l-2.431-2.171a1.011,1.011,0,0,0-1.346,1.507l3.676,3.284a1.668,1.668,0,0,0,2.224,0l3.676-3.284A1.01,1.01,0,0,0,215.293,298.979Z' transform='translate(-205.3 -287.628)' fill='%233eb7e4'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}