footer.footer
    .container
        .row
            .col-6.col-lg-3
                h4 Liên kết nhanh
                ul
                    li: a(href="#") Thông tin khuyến mãi
                    li: a(href="#") Mua hàng
                    li: a(href="#") Điều khoản sử dụng
                    li: a(href="#") Chính sách bảo mật
                    li: a(href="#") Sơ đồ Website
            .col-6.col-lg-3
                h4 Về VitaDairy
                ul
                    li: a(href="#") Câu chuyện VitaDairy
                    li: a(href="#") Cam kết chất lượng
                    li: a(href="#") Phát triển bền vững
                    li: a(href="#") Đối tác và phân phối
                    li: a(href="#") Tuyển dụng
            .col-6.col-lg-3
                h4 Sản phẩm VitaDairy
                ul
                    li: a(href="#") Sản phẩm dinh dưỡng cho mẹ
                    li: a(href="#") Sản phẩm dinh dưỡng cho bé
                    li: a(href="#") Sản phẩm dinh dưỡng cho người lớn
            .col-6.col-lg-3
                h4 Kiến thức từ chuyên gia
                ul
                    li: a(href="#") Bí quyết mẹ khoẻ
                    li: a(href="#") Nuôi dưỡng bé yêu
                    li: a(href="#") Chăm sóc người lớn tuổi
                    li: a(href="#") Tư vấn dinh dưỡng

        hr
        .row
            .col-lg-6
                h4 Công ty cổ phần sữa VitaDairy Việt Nam
                table
                    tr
                        td
                            span.ic-earth
                        td Website: <a href="www.vitadairy.vn">www.vitadairy.vn</a>   
                    tr
                        td
                            span.ic-mail
                        td Email: <a href="mailto:info@vitadairy.vn">info@vitadairy.vn</a>
                    tr
                        td
                            span.ic-phone
                        td Hotline: <a href="tel+:1900636958 ">1900 636 958</a>  
            .col-lg-3
                h4 Văn phòng tại Hà Nội
                address            
                    p Tầng 20 Khách sạn Mường Thanh Grand Hà Nội, Lô CC2 Bắc Linh Đàm, Q. Hoàng Mai, Hà Nội<br>Tel/Fax: (024) 3540 9193
            .col-lg-3
                h4 Trụ sở tại TP. Hồ Chí Minh
                address 
                    p Tầng 9, Empire Tower 26 – 28, Hàm Nghi, P. Bến Nghé, Q.1, Tp. Hồ Chí Minh<br>Tel/Fax: (028) 39152 111 <span class="sp">- (028) 36369658</span>
        .grpShare
            .item
                a(href="#")
                    span.ic-fb
                a(href="#")
                    span.ic-ytb
                span.txt-footer Kết nối với<br> VitaDairy
            .item
                a(href="#")
                    span.ic-shop
                span.txt-footer Mua hàng <br> <a href="#">Hotline: 1900 633 559</a>  
            .item
                a(href="#")
                    span.ic-chat
                span.txt-footer Tư vấn <br> cùng chuyên gia
            .item
                img(src=imgPath + "logo-bo-cong-thuong.jpg" alt="")
    .copyright
        .container
            .row
                .col-md-6
                    p Bản quyền thuộc về VitaDairy © 2019
                .col-md-6
                    ul
                        li: a(href="#") Điều khoản sử dụng  
                        li: a(href="#") Chính sách bảo mật  
                        li: a(href=url + "sitemap.html") Sơ đồ website
    .footer__totop.toTop
        a(href="#").to-top
// End Footer