include mixin/_elements
include mixin/_icons
include mixin/_lipsum
include mixin/_accordion
include mixin/_alerts
include mixin/_badge
include mixin/_breadcrumb
include mixin/_buttons
include mixin/_dropdowns
include mixin/_images
include mixin/_input
include mixin/_labels
include mixin/_list
include mixin/_menu
include mixin/_media
include mixin/_modal
include mixin/_navbar
include mixin/_navs
include mixin/_pagination
include mixin/_progress-bars
include mixin/_tables
include mixin/_tabs
include mixin/_toggle

