-
    //var url = '/';
    var url = '/html/vitadairy/';
    var urlPath = '/html/vitadairy/';
    var language       = 'vi';
    var mainActive     = 'home';
    var imgPath        = url + 'images/'
    var imgPathTheme   = url + 'assets/images/'
    var logo           = imgPath + 'logo.svg'
    var title          = ''
-
    var menuTop = [
        {'key': 'about',     'title': 'VitaDairy',            'url':  url +  'vitadairy/index.html','child':[ 
            {'key': 'cau-chuyen',     'title': 'Câu chuyện VitaDairy',            'url': url + 'vitadairy/cauchuyenvitadairy.html'},
            {'key': 'cam-ket',     'title': 'Cam kết chất lượng',            'url': url + 'vitadairy/camketchatluong.html'},
            {'key': 'phat-trien-ben-vung',     'title': 'Phát triển bền vững',            'url': url + 'vitadairy/phattrienbenvung.html'}
        ]},
        {'key': 'mua-hang',     'title': 'Mua hàng',            'url': url + 'muahang.html'},
        {'key': 'doi-tac',     'title': 'Đối tác & Phân phối',            'url': url + 'doitacphanphoi', 'child' : [
            {'key': 'doi-tac',     'title': 'Đối tác',            'url': url + 'doitacphanphoi/doitac.html'},
            {'key': 'phan-phoi',     'title': 'Phân phối',            'url': url + 'doitacphanphoi/phanphoi.html'},
        ]},
        {'key': 'tuyen-dung',     'title': 'Tuyển dụng',            'url': url + 'tuyendung.html' ,'child' : [
            {'key': 'co-hoi-nghe-nghiep',     'title': 'Cơ hội nghề nghiệp',            'url': url + 'tuyendung/cohoinghenghiep.html'},
            {'key': 'moi-truong-lam-viec',     'title': 'Môi trường làm việc',            'url': url + 'tuyendung/moitruonglamviec.html'},
        ]},
        {'key': 'lien-he',     'title': 'Liên hệ',            'url': url + 'lienhe.html'},
        {'key': 'language',     'title': 'English',            'url': '#'},
    ]
-
    var mainMenu = [
        {'key': 'home',     'title': 'Trang chủ',            'url': url},
        {'key': 'bi-quyet',     'title': 'Bí quyết mẹ khỏe',   'url': url + 'biquyetmekhoe.html', 'child':[
            {'key': 'bi-quyet',  'title':'Dự định mang thai',     'url': url + 'biquyetmekhoe/dudinhmangthai.html'},
            {'key': 'bi-quyet',  'title':'Mang thai',     'url': url + 'biquyetmekhoe/dudinhmangthai.html'},
            {'key': 'bi-quyet',  'title':'Dự sinh ',     'url': url + 'biquyetmekhoe/dudinhmangthai.html'},
            {'key': 'bi-quyet',  'title':'Sau sinh và chăm sóc bé yêu',     'url': url + 'biquyetmekhoe/dudinhmangthai.html'}
        ]},
        {'key': 'nuoi-duong',    'title': 'Nuôi dưỡng bé yêu',     'url': url + 'nuoiduongbeyeu.html','child':[
            {'key': 'nuoi-duong',  'title':'Miễn dịch khoẻ',     'url': url +  'nuoiduongbeyeu/miendichkhoe.html'},
            {'key': 'nuoi-duong',  'title':'Tiêu hoá tốt',     'url': url +  'nuoiduongbeyeu/miendichkhoe.html'},
            {'key': 'nuoi-duong',  'title':'Phát triển thể chất',     'url': url +  'nuoiduongbeyeu/miendichkhoe.html'},
            {'key': 'nuoi-duong',  'title':'Dị ứng đạm sữa bò',     'url': url +  'nuoiduongbeyeu/miendichkhoe.html'},
            {'key': 'nuoi-duong',  'title':'Nuôi dạy con và nhật ký làm mẹ',     'url': url +  'nuoiduongbeyeu/miendichkhoe.html'}
        ]},
        {'key': 'cham-soc',    'title': 'Chăm sóc người lớn tuổi',     'url': url + 'chamsocnguoilontuoi.html','child':[
            {'key': 'cham-soc',  'title':'Sống khoẻ mỗi ngày',     'url': url +  'chamsocnguoilontuoi/songkhoemoingay.html'},
            {'key': 'cham-soc',  'title':'Sức khoẻ tim mạch',     'url':url +  'chamsocnguoilontuoi/songkhoemoingay.html'},
            {'key': 'cham-soc',  'title':'Chăm sóc người bệnh tiểu đường',     'url': url +  'chamsocnguoilontuoi/songkhoemoingay.html'},
            {'key': 'cham-soc',  'title':'Dinh dữỡng cho người bệnh thận',     'url': url +  'chamsocnguoilontuoi/songkhoemoingay.html'},
            {'key': 'cham-soc',  'title':'Chăm sóc người bệnh gan',     'url': url +  'chamsocnguoilontuoi/songkhoemoingay.html'}
        ]},
        {'key': 'tu-van',    'title': 'Tư vấn dinh dưỡng',     'url': url + 'tuvandinhduong.html','child': [
            {'key': 'tu-van',  'title':'Trung tâm dinh dưỡng VitaDairy',     'url': url + 'tuvandinhduong.html'},
            {'key': 'tu-van',  'title':'FAQ',     'url': url + 'tuvandinhduong/faq.html'}
        ]},
        {'key': 'san-pham',    'title': 'Sản phẩm',     'url':url +  'sanpham.html','child': [
            {'key': 'san-pham',  'title':'Sữa cho mẹ',     'url': url +  'sanpham.html#sProductItem1'},
            {'key': 'san-pham',  'title':'Sữa cho bé',     'url': url +  'sanpham.html#sProductItem2'},
            {'key': 'san-pham',  'title':'Sữa cho người lớn',     'url': url +  'sanpham.html#sProductItem3'}
        ]},
        {'key': 'truyen-thong',    'title': 'Truyền thông',     'url': url + 'truyenthong.html' ,'child': [
            {'key': 'truyen-thong',  'title':'Tin tức - sự kiện',     'url': url + 'truyenthong/tintucsukien.html'},
            {'key': 'truyen-thong',  'title':'Thông tin khuyến mãi',     'url': url + 'truyenthong/thongtinkhuyenmai.html'}, 
            {'key': 'truyen-thong',  'title':'Chiến dịch quảng cáo',     'url': url + 'truyenthong/chiendichquangcao.html'}
            //- {'key': 'truyen-thong',  'title':'VitaDairy tặng mẹ',     'url': url + 'truyenthong/vitadairytangme.html'}
        ]}
    ]
-
    var menutop = [
        {'key': 'home',     'title': 'VitaDairy',            'url': '#'},
        {'key': 'home',     'title': 'Mua hàng',            'url': '#'},
        {'key': 'home',     'title': 'Cổ đông',            'url': '#'},
        {'key': 'home',     'title': 'Đối tác & Phân phối',            'url': '#'},
        {'key': 'home',     'title': 'Tuyển dụng',            'url': '#'},
        {'key': 'home',     'title': 'Liên hệ',            'url': '#'}
    ]

-
    var nuoiduongbeyeu1 = [
        {'title' : 'Bí quyết tăng cường miễn dịch cho trẻ thời…', 'img':imgPath + 'nuoiduongbeyeu/img-01.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '4 việc mẹ nên làm để tăng cường sức đề…', 'img':imgPath + 'nuoiduongbeyeu/img-02.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Hệ miễn dịch tốt giúp cơ thể của trẻ giảm…', 'img':imgPath + 'nuoiduongbeyeu/img-03.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '4 việc mẹ nên làm để tăng cường sức đề…', 'img':imgPath + 'nuoiduongbeyeu/img-04.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'elBí quyết tăng cường miễn dịch cho trẻ thời…', 'img':imgPath + 'nuoiduongbeyeu/img-01.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '4 việc mẹ nên làm để tăng cường sức đề…', 'img':imgPath + 'nuoiduongbeyeu/img-02.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Hệ miễn dịch tốt giúp cơ thể của trẻ giảm…', 'img':imgPath + 'nuoiduongbeyeu/img-03.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '4 việc mẹ nên làm để tăng cường sức đề…', 'img':imgPath + 'nuoiduongbeyeu/img-04.jpg','link':'nuoiduongbeyeu/chitiet.html'}
    ]
-
    var nuoiduongbeyeu2 = [
        {'title' : 'Bí quyết tăng cường miễn dịch cho trẻ thời…', 'img':imgPath + 'nuoiduongbeyeu/img-04.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '4 việc mẹ nên làm để tăng cường sức đề…', 'img':imgPath + 'nuoiduongbeyeu/img-05.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Hệ miễn dịch tốt giúp cơ thể của trẻ giảm…', 'img':imgPath + 'nuoiduongbeyeu/img-06.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '4 việc mẹ nên làm để tăng cường sức đề…', 'img':imgPath + 'nuoiduongbeyeu/img-07.jpg','link':'nuoiduongbeyeu/chitiet.html'},
              {'title' : 'Bí quyết tăng cường miễn dịch cho trẻ thời…', 'img':imgPath + 'nuoiduongbeyeu/img-04.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '4 việc mẹ nên làm để tăng cường sức đề…', 'img':imgPath + 'nuoiduongbeyeu/img-05.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Hệ miễn dịch tốt giúp cơ thể của trẻ giảm…', 'img':imgPath + 'nuoiduongbeyeu/img-06.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '4 việc mẹ nên làm để tăng cường sức đề…', 'img':imgPath + 'nuoiduongbeyeu/img-07.jpg','link':'nuoiduongbeyeu/chitiet.html'}
    ]
-
    var nuoiduongbeyeu3 = [
        {'title' : 'Sự phát triển thể chất, tâm thần vận động…', 'img':imgPath + 'nuoiduongbeyeu/img-08.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Phát triển thể chất trẻ em lứa tuổi Mầm non…', 'img':imgPath + 'nuoiduongbeyeu/img-09.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Hệ miễn dịch tốt giúp cơ thể của trẻ giảm…', 'img':imgPath + 'nuoiduongbeyeu/img-10.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '3 mục tiêu phát triển thể chất cho trẻ mầm…', 'img':imgPath + 'nuoiduongbeyeu/img-01.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Sự phát triển thể chất, tâm thần vận động…', 'img':imgPath + 'nuoiduongbeyeu/img-08.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Phát triển thể chất trẻ em lứa tuổi Mầm non…', 'img':imgPath + 'nuoiduongbeyeu/img-09.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Hệ miễn dịch tốt giúp cơ thể của trẻ giảm…', 'img':imgPath + 'nuoiduongbeyeu/img-10.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '3 mục tiêu phát triển thể chất cho trẻ mầm…', 'img':imgPath + 'nuoiduongbeyeu/img-01.jpg','link':'nuoiduongbeyeu/chitiet.html'}
    ]
-
    var nuoiduongbeyeu4 = [
        {'title' : 'Những điều kỳ diệu về bộ não của trẻ mà…', 'img':imgPath + 'nuoiduongbeyeu/img-11.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Dinh dưỡng và sự phát triển trí não của trẻ em', 'img':imgPath + 'nuoiduongbeyeu/img-12.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Phương pháp tác động giúp phát triển trí não…', 'img':imgPath + 'nuoiduongbeyeu/img-13.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '3 mục tiêu phát triển thể chất cho trẻ mầm…', 'img':imgPath + 'nuoiduongbeyeu/img-14.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Những điều kỳ diệu về bộ não của trẻ mà…', 'img':imgPath + 'nuoiduongbeyeu/img-11.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Dinh dưỡng và sự phát triển trí não của trẻ em', 'img':imgPath + 'nuoiduongbeyeu/img-12.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Phương pháp tác động giúp phát triển trí não…', 'img':imgPath + 'nuoiduongbeyeu/img-13.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '3 mục tiêu phát triển thể chất cho trẻ mầm…', 'img':imgPath + 'nuoiduongbeyeu/img-14.jpg','link':'nuoiduongbeyeu/chitiet.html'}
    ]
-
    var nuoiduongbeyeu5 = [
        {'title' : 'Dị ứng đạm sữa bò ở trẻ nhỏ dễ nhầm lẫn với…', 'img':imgPath + 'nuoiduongbeyeu/img-14.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Cẩn trọng với dị ứng đạm sữa bò ở trẻ', 'img':imgPath + 'nuoiduongbeyeu/img-15.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Dấu hiệu trẻ bị dị ứng đạm sữa bò', 'img':imgPath + 'nuoiduongbeyeu/img-16.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '3 mục tiêu phát triển thể chất cho trẻ mầm…', 'img':imgPath + 'nuoiduongbeyeu/img-17.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Dị ứng đạm sữa bò ở trẻ nhỏ dễ nhầm lẫn với…', 'img':imgPath + 'nuoiduongbeyeu/img-14.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Cẩn trọng với dị ứng đạm sữa bò ở trẻ', 'img':imgPath + 'nuoiduongbeyeu/img-15.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Dấu hiệu trẻ bị dị ứng đạm sữa bò', 'img':imgPath + 'nuoiduongbeyeu/img-16.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '3 mục tiêu phát triển thể chất cho trẻ mầm…', 'img':imgPath + 'nuoiduongbeyeu/img-17.jpg','link':'nuoiduongbeyeu/chitiet.html'}
    ]
-
    var nuoiduongbeyeu6 = [
        {'title' : 'Nhật kí lần đầu làm bố mẹ của cặp vợ chồng…', 'img':imgPath + 'nuoiduongbeyeu/img-17.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Nhật ký làm mẹ lần đầu hài hước qua hình vẽ', 'img':imgPath + 'nuoiduongbeyeu/img-18.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Nhật ký: Lần đầu làm mẹ, cảm xúc khó tả,…', 'img':imgPath + 'nuoiduongbeyeu/img-16.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '3 mục tiêu phát triển thể chất cho trẻ mầm…', 'img':imgPath + 'nuoiduongbeyeu/img-15.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Nhật kí lần đầu làm bố mẹ của cặp vợ chồng…', 'img':imgPath + 'nuoiduongbeyeu/img-17.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Nhật ký làm mẹ lần đầu hài hước qua hình vẽ', 'img':imgPath + 'nuoiduongbeyeu/img-18.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : 'Nhật ký: Lần đầu làm mẹ, cảm xúc khó tả,…', 'img':imgPath + 'nuoiduongbeyeu/img-16.jpg','link':'nuoiduongbeyeu/chitiet.html'},
        {'title' : '3 mục tiêu phát triển thể chất cho trẻ mầm…', 'img':imgPath + 'nuoiduongbeyeu/img-15.jpg','link':'nuoiduongbeyeu/chitiet.html'}
    ]
-
    var biquyetmekhoe1 = [
        {'title' : 'Cần chuẩn bị những gì trước khi mang thai?', 'img':imgPath + 'biquyetmekhoe/img-01.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-02.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Nên và không nên ăn gì trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-03.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Cần chuẩn bị những gì trước khi mang thai?', 'img':imgPath + 'biquyetmekhoe/img-01.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-02.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Nên và không nên ăn gì trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-03.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'}
    ]
-
    var biquyetmekhoe2 = [
        {'title' : 'Tổng hợp kiến thức và kinh nghiệm mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Những điều cần biết khi mang thai 3 tháng...', 'img':imgPath + 'biquyetmekhoe/img-05.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Trọn bộ kiến thức về mang thai và chăm…', 'img':imgPath + 'biquyetmekhoe/img-06.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Tổng hợp kiến thức và kinh nghiệm mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Những điều cần biết khi mang thai 3 tháng...', 'img':imgPath + 'biquyetmekhoe/img-05.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Trọn bộ kiến thức về mang thai và chăm…', 'img':imgPath + 'biquyetmekhoe/img-06.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'}
    ]
-
    var biquyetmekhoe3 = [
        {'title' : 'Cách tính ngày dự sinh chính xác cho bà bầu', 'img':imgPath + 'biquyetmekhoe/img-07.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Ngày dự sinh có chính xác không và điều chị…', 'img':imgPath + 'biquyetmekhoe/img-08.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Quá ngày dự sinh: mẹ nên làm gì?', 'img':imgPath + 'biquyetmekhoe/img-09.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Cách tính ngày dự sinh chính xác cho bà bầu', 'img':imgPath + 'biquyetmekhoe/img-07.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Ngày dự sinh có chính xác không và điều chị…', 'img':imgPath + 'biquyetmekhoe/img-08.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Quá ngày dự sinh: mẹ nên làm gì?', 'img':imgPath + 'biquyetmekhoe/img-09.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'}
    ]
-
    var biquyetmekhoe4 = [
        {'title' : 'Cách chăm sóc mẹ và bé sau sinh đúng cách', 'img':imgPath + 'biquyetmekhoe/img-10.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Chăm sóc bé - Cách chăm sóc trẻ tốt nhất', 'img':imgPath + 'biquyetmekhoe/img-11.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Cách chăm bé yêu 3 tháng đầu đời', 'img':imgPath + 'biquyetmekhoe/img-12.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Cách chăm sóc mẹ và bé sau sinh đúng cách', 'img':imgPath + 'biquyetmekhoe/img-10.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Chăm sóc bé - Cách chăm sóc trẻ tốt nhất', 'img':imgPath + 'biquyetmekhoe/img-11.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : 'Cách chăm bé yêu 3 tháng đầu đời', 'img':imgPath + 'biquyetmekhoe/img-12.jpg','link':'biquyetmekhoe/chitiet.html'},
        {'title' : '18 điều bạn nên chuẩn bị trước khi mang thai', 'img':imgPath + 'biquyetmekhoe/img-04.jpg','link':'biquyetmekhoe/chitiet.html'}
    ]
-
    var chamsocnguoilontuoi1 = [
        {'title' : 'Bí quyết sống khỏe mạnh cho người cao…', 'img':imgPath + 'chamsocnguoilontuoi/img-01.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : '10 bí quyết giúp người cao tuổi sống thọ', 'img':imgPath + 'chamsocnguoilontuoi/img-02.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Sức khoẻ và bệnh tật của người lớn tuổi', 'img':imgPath + 'chamsocnguoilontuoi/img-03.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : '10 bí quyết giúp người cao tuổi sống thọ', 'img':imgPath + 'chamsocnguoilontuoi/img-04.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Bí quyết sống khỏe mạnh cho người cao…', 'img':imgPath + 'chamsocnguoilontuoi/img-01.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : '10 bí quyết giúp người cao tuổi sống thọ', 'img':imgPath + 'chamsocnguoilontuoi/img-02.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Sức khoẻ và bệnh tật của người lớn tuổi', 'img':imgPath + 'chamsocnguoilontuoi/img-03.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : '10 bí quyết giúp người cao tuổi sống thọ', 'img':imgPath + 'chamsocnguoilontuoi/img-04.jpg','link':'chamsocnguoilontuoi/chitiet.html'}
    ]
-
    var chamsocnguoilontuoi2 = [
        {'title' : 'Các bệnh tim mạch thường gặp ở người…', 'img':imgPath + 'chamsocnguoilontuoi/img-04.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Những môn thể thao tốt cho người bệnh…', 'img':imgPath + 'chamsocnguoilontuoi/img-05.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Huyết áp và nhịp tim của người cao tuổi', 'img':imgPath + 'chamsocnguoilontuoi/img-06.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Những môn thể thao tốt cho người bệnh…', 'img':imgPath + 'chamsocnguoilontuoi/img-07.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Các bệnh tim mạch thường gặp ở người…', 'img':imgPath + 'chamsocnguoilontuoi/img-04.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Những môn thể thao tốt cho người bệnh…', 'img':imgPath + 'chamsocnguoilontuoi/img-05.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Huyết áp và nhịp tim của người cao tuổi', 'img':imgPath + 'chamsocnguoilontuoi/img-06.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Những môn thể thao tốt cho người bệnh…', 'img':imgPath + 'chamsocnguoilontuoi/img-07.jpg','link':'chamsocnguoilontuoi/chitiet.html'}
    ]
-
    var chamsocnguoilontuoi3 = [
        {'title' : '5 lưu ý khi chăm sóc người thân bị bệnh', 'img':imgPath + 'chamsocnguoilontuoi/img-07.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Cách lập kế hoạch chăm sóc bệnh nhân…', 'img':imgPath + 'chamsocnguoilontuoi/img-08.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Chăm sóc tại nhà cho người bệnh tiểu đường', 'img':imgPath + 'chamsocnguoilontuoi/img-09.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Cách lập kế hoạch chăm sóc bệnh nhân…', 'img':imgPath + 'chamsocnguoilontuoi/img-10.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : '5 lưu ý khi chăm sóc người thân bị bệnh', 'img':imgPath + 'chamsocnguoilontuoi/img-07.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Cách lập kế hoạch chăm sóc bệnh nhân…', 'img':imgPath + 'chamsocnguoilontuoi/img-08.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Chăm sóc tại nhà cho người bệnh tiểu đường', 'img':imgPath + 'chamsocnguoilontuoi/img-09.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Cách lập kế hoạch chăm sóc bệnh nhân…', 'img':imgPath + 'chamsocnguoilontuoi/img-10.jpg','link':'chamsocnguoilontuoi/chitiet.html'}
    ]
-
    var chamsocnguoilontuoi4 = [
        {'title' : 'Chế độ dinh dưỡng cho người bị suy thận mạn…', 'img':imgPath + 'chamsocnguoilontuoi/img-10.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Nguyên tắc dinh dưỡng chung cho người bện…', 'img':imgPath + 'chamsocnguoilontuoi/img-11.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Chế độ Dinh Dưỡng Cho Người Sỏi Thận', 'img':imgPath + 'chamsocnguoilontuoi/img-12.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Cách lập kế hoạch chăm sóc bệnh nhân…', 'img':imgPath + 'chamsocnguoilontuoi/img-13.jpg','link':'chamsocnguoilontuoi/chitiet.html'}
    ]
-
    var chamsocnguoilontuoi5 = [
        {'title' : 'Chế độ dinh dưỡng cho người bị suy thận mạn…', 'img':imgPath + 'chamsocnguoilontuoi/img-13.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Nguyên tắc dinh dưỡng chung cho người bện…', 'img':imgPath + 'chamsocnguoilontuoi/img-14.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Chế độ Dinh Dưỡng Cho Người Sỏi Thận', 'img':imgPath + 'chamsocnguoilontuoi/img-15.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Cách lập kế hoạch chăm sóc bệnh nhân…', 'img':imgPath + 'chamsocnguoilontuoi/img-13.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Chế độ dinh dưỡng cho người bị suy thận mạn…', 'img':imgPath + 'chamsocnguoilontuoi/img-13.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Nguyên tắc dinh dưỡng chung cho người bện…', 'img':imgPath + 'chamsocnguoilontuoi/img-14.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Chế độ Dinh Dưỡng Cho Người Sỏi Thận', 'img':imgPath + 'chamsocnguoilontuoi/img-15.jpg','link':'chamsocnguoilontuoi/chitiet.html'},
        {'title' : 'Cách lập kế hoạch chăm sóc bệnh nhân…', 'img':imgPath + 'chamsocnguoilontuoi/img-13.jpg','link':'chamsocnguoilontuoi/chitiet.html'}
    ]