extends layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = ""

block content
    .sMainChild.s404Page.sMainChild-other.fixHeight
      .container
        .page-header
          h3 Ooppss…
          p Trang của mẹ cần tìm không tồn tại!
          +a-btn-primary('Trở về trang chủ','#')
