extends layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "cham-soc"
    - bodyClass = 'noStick';


block content
    .sMainChild.sNew
      .sBannerChild
        img(src= imgPath + 'chamsocnguoilontuoi/banner.jpg' alt="")
      .fixHeight
        .sIntroheader
          .container
            +breadcrumb([{'title':'Chăm sóc người lớn tuổi'}])
          .container
            .sMainContent.sMainContent-other
              +headerlanding('Chăm sóc người lớn tuổi ','Khi tuổi càng cao, con người thường phải đối mặt với nhiều vấn đề về sức khoẻ và tâm lý. Chế độ dinh dưỡng hợp lý, tinh thần thoải mái và thực hiện vận động vừa sức sẽ giúp người lớn tuổi cải thiện sức khoẻ và ngăn ngừa bệnh tật.')
              .sLinkWrap
                .sLink#stickMenu.sLink-col-5.sQuickLink
                  ul
                    li: a(href="#itemNews1")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#chamsoc-1"></use>
                        </svg>
                      span.icon-text Sống khoẻ <br>mỗi ngày
                    li: a(href="#itemNews2")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#chamsoc-2"></use>
                        </svg>
                      span.icon-text Sức khoẻ <br>tim mạch
                    li: a(href="#itemNews3")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#chamsoc-3"></use>
                        </svg>
                      span.icon-text Chăm sóc người <br>bệnh tiểu đường
                    li: a(href="#itemNews4")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#chamsoc-4"></use>
                        </svg>
                      span.icon-text Dinh dưỡng cho <br>người bệnh thận
                    li: a(href="#itemNews5")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#chamsoc-5"></use>
                        </svg>
                      span.icon-text Chăm sóc <br>người bệnh gan
      .sLandingNew
        .sLandingNewItem.bg-right.listColNew.fixHeight#itemNews1
          +itemLanding(url + 'chamsocnguoilontuoi/songkhoemoingay.html',imgPath + 'chamsocnguoilontuoi/bg-01.jpg',imgPath + 'chamsocnguoilontuoi/bg-01-sp.jpg','Sống khoẻ mỗi ngày','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#chamsoc-1"></use></svg>','Bước qua tuổi 50 là giai đoạn các hoạt động của cơ quan trong cơ thể suy giảm, biểu hiện rõ ràng nhất là cơ thể hay mệt mỏi, ăn kém ngon, dễ mắc bệnh do suy giảm đề kháng. Người lớn tuổi nên làm những gì để cải thiện sức khỏe, làm chậm quá trình lão hóa, tsống vui - sống khỏe mỗi ngày?',chamsocnguoilontuoi1)
        .sLandingNewItem.bg-left.listColNew.fixHeight#itemNews2
          +itemLanding(url + 'chamsocnguoilontuoi/songkhoemoingay.html',imgPath + 'chamsocnguoilontuoi/bg-02.jpg',imgPath + 'chamsocnguoilontuoi/bg-02-sp.jpg','Sức khoẻ tim mạch','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#chamsoc-2"></use></svg>','Một trong những căn bệnh phổ biến ở người lớn tuổi chính là bệnh tim mạch, bởi giai đoạn này các mạch máu dần xơ cứng và giảm tính đàn hồi, tim làm việc nhiều hơn trong thời gian dài làm cho cơ tim bị dày lên, gây ra các bệnh tim mạch.Tuy nhiên, chúng ta hoàn toàn có thể kiểm soát và tăng cường sức khỏe cho trái tim, hỗ trợ điều trị bằng một chế độ dinh dưỡng hợp lý.',chamsocnguoilontuoi2)
        .sLandingNewItem.bg-right.listColNew.fixHeight#itemNews3
          +itemLanding(url + 'chamsocnguoilontuoi/songkhoemoingay.html',imgPath + 'chamsocnguoilontuoi/bg-03.jpg',imgPath + 'chamsocnguoilontuoi/bg-03-sp.jpg','Chăm sóc người bệnh tiểu đường','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#chamsoc-3"></use></svg>','Bệnh tiểu đường có thể dẫn đến các biến chứng khác nhau và đặc biệt cần được chú ý ở người cao tuổi vì mức độ nguy hiểm của nó. Đây là bệnh liên quan đến nội tiết do tuyến tụy không sản xuất đủ insulin, hoặc insulin bị giảm tác động dẫn đến việc rối loạn chuyển hóa chất đường glucose trong máu. Dinh dưỡng đúng và khoa học là yếu tố quan trọng trong việc chăm sóc người bệnh tiểu đường.',chamsocnguoilontuoi3)
        .sLandingNewItem.bg-left.listColNew.fixHeight#itemNews4
          +itemLanding(url + 'chamsocnguoilontuoi/songkhoemoingay.html',imgPath + 'chamsocnguoilontuoi/bg-04.jpg',imgPath + 'chamsocnguoilontuoi/bg-04-sp.jpg','Dinh dưỡng cho người bệnh thận','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#chamsoc-4"></use></svg>','Thận đóng vai trò quan trọng trong việc loại bỏ những chất độc hại và giữ thăng bằng nước, các chất khoáng cần thiết cho cơ thể. Đối với người bệnh thận, chức năng này bị suy giảm. Dinh dưỡng đúng giúp bảo tồn chức năng thận, làm chậm tiến triển của bệnh, duy trì các hoạt động sinh lý trong cơ thể, nâng cao chất lượng cuộc sống cho người suy thận.',chamsocnguoilontuoi4)
        .sLandingNewItem.bg-right.listColNew.fixHeight#itemNews5
          +itemLanding(url + 'chamsocnguoilontuoi/songkhoemoingay.html',imgPath + 'chamsocnguoilontuoi/bg-05.jpg',imgPath + 'chamsocnguoilontuoi/bg-05-sp.jpg','Chăm sóc người bệnh gan','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#chamsoc-5"></use></svg>','Gan là cơ quan lớn nhất và duy nhất thực hiện cùng lúc nhiều nhiệm vụ quan trọng: loại bỏ độc tố, làm sạch máu, thực hiện quá trình trao đổi chất duy trì sự sống cho cơ thể. Với người cao tuổi, suy giảm chức năng gan hoặc mắc các bệnh về gan càng khó phục hồi hơn rất nhiều lần. Dinh dưỡng là yếu tố quyết định không nhỏ đến hiệu quả của việc chăm sóc và điều trị người bệnh gan.',chamsocnguoilontuoi5)