extends layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "nuoi-duong";
    - bodyClass = 'noStick';
block content
    .sMainChild.sNew
      .sBannerChild
        img(src= imgPath + 'nuoiduongbeyeu/banner.jpg' alt="")
      .fixHeight
        .sIntroheader
          .container
            +breadcrumb([{'title':' Nuôi dưỡng bé yêu'}])
          .container
            .sMainContent.sMainContent-other
              +headerlanding('Nuôi dưỡng bé yêu','Thế giới của mẹ bây giờ trở nên nhỏ xíu, chỉ bằng một bé con thôi đúng không mẹ ơi! Bắt đầu hành trình nuôi con là bắt đầu của bao nỗ lực, lo lắng và căng thẳng. Làm thế nào để con yêu được phát triển toàn diện? Cùng tìm hiểu những kiến thức hữu ích về nuôi dưỡng bé yêu từ các chuyên gia. Thay vì cố gắng trở thành một người mẹ hoàn hảo, hãy tìm cách trở thành một bà mẹ hạnh phúc, để mỗi ngày của con là một kỷ niệm ngọt ngào với mẹ, mẹ nhé!')
              .sLinkWrap
                .sLink#stickMenu.sLink-col-6.sQuickLink
                  ul
                    li: a(href="#itemNews1")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#nuoiduong1"></use>
                        </svg>
                      span.icon-text Miễn dịch <br>khoẻ
                    li: a(href="#itemNews2")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#nuoiduong2"></use>
                        </svg>
                      span.icon-text Tiêu hoá<br> tốt
                    li: a(href="#itemNews3")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#nuoiduong3"></use>
                        </svg>
                      span.icon-text Phát triển<br> thể chất
                    li: a(href="#itemNews4")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#nuoiduong4"></use>
                        </svg>
                      span.icon-text Phát triển<br> trí não
                    li: a(href="#itemNews5")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#nuoiduong5"></use>
                        </svg>
                      span.icon-text Dị ứng<br> đạm sữa bò
                    li: a(href="#itemNews6")
                      span.icon-link
                        <svg viewBox="0 0 40 40" class="icon-shape">
                          <use xlink:href="#nuoiduong6"></use>
                        </svg>
                      span.icon-text Nuôi dạy con và<br> nhật ký làm mẹ
      .sLandingNew
        .sLandingNewItem.bg-right.listColNew#itemNews1.fixHeight
          +itemLanding(url + 'nuoiduongbeyeu/miendichkhoe.html',imgPath + 'nuoiduongbeyeu/bg-nuoiduong.jpg',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-sp.jpg','Miễn dịch khoẻ','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#nuoiduong1"></use></svg>','Với trẻ em, hệ miễn dịch chưa thể hoàn thiện cho đến khi trẻ tròn 36 tháng tuổi do đó nguy cơ lây nhiễm và bệnh vặt thường xuyên xảy ra. Trong giai đoạn này, mẹ cần bổ sung dinh dưỡng miễn dịch đúng chuẩn, đầy đủ và hợp lý, giúp tăng cường đề kháng, cho con sức mạnh từ bên trong để xây dựng nền tảng vững chắc cho sự phát triển toàn diện.',nuoiduongbeyeu1)
        .sLandingNewItem.bg-left.listColNew#itemNews2.fixHeight
          +itemLanding(url + 'nuoiduongbeyeu/miendichkhoe.html',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-01.jpg',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-01-sp.jpg','Tiêu hoá tốt','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#nuoiduong2"></use></svg>','Hệ tiêu hoá đóng vai trò quan trọng trong quá trình phát triển thể chất của trẻ. Ngoài chức năng xử lý và hấp thu thức ăn, hệ tiêu hóa còn đóng góp 70-80% vào sức đề kháng và ảnh hưởng không nhỏ đến sự phát triển.“Lắng nghe” và “thấu hiểu” hệ tiêu hoá của con là chìa khóa vàng giúp trẻ phát triển toàn diện và ngăn ngừa các vấn đề rối loạn tiêu hóa có thể xảy ra.',nuoiduongbeyeu2)
        .sLandingNewItem.bg-right.listColNew#itemNews3.fixHeight
          +itemLanding(url + 'nuoiduongbeyeu/miendichkhoe.html',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-03.jpg',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-03-sp.jpg','Phát triển thể chất','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#nuoiduong3"></use></svg>','Để có một thể chất khỏe mạnh, con cần được cung cấp đầy đủ chất dinh dưỡng hợp lý và khoa học. Bên cạnh đó, các hoạt động thể thao thúc đẩy kỹ năng vận động cũng góp phần tạo nên nền tảng cho sự phát triển lâu dài. Những thông tin được chia sẻ từ chuyên gia VitaDairy sẽ rất hữu ích cho mẹ để giúp con phát triển thể chất trong giai đoạn này, cùng tìm hiểu mẹ nhé!',nuoiduongbeyeu3)
        .sLandingNewItem.bg-left.listColNew#itemNews4.fixHeight
          +itemLanding(url + 'nuoiduongbeyeu/miendichkhoe.html',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-04.jpg',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-04-sp.jpg','Phát triển trí não','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#nuoiduong4"></use></svg>','Sau khi chào đời là khoảng thời gian vàng cho trẻ phát triển phát huy tối đa năng lực trí não. Đây là lúc mà bộ não của con phát triển nhanh hơn bất kỳ khoảng thời điểm nào trong cuộc đời, nên mẹ đừng bỏ lỡ giai đoạn này nhé! hãy "tiếp sức" cho con bằng cách luôn bảo đảm cung cấp đủ nguồn dinh dưỡng liên tục cho não bộ, để con không ngừng học hỏi và lớn khôn',nuoiduongbeyeu4)
        .sLandingNewItem.bg-right.listColNew#itemNews5.fixHeight
          +itemLanding(url + 'nuoiduongbeyeu/miendichkhoe.html',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-05.jpg',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-05-sp.jpg','Dị ứng đạm sữa bò','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#nuoiduong5"></use></svg>','Dị ứng đạm sữa bò là hiện tượng phổ biến nhất ở nhóm trẻ sơ sinh và trẻ nhỏ, xảy ra khi hệ miễn dịch của trẻ có những phản ứng quá nhạy cảm với thành phần đạm có trong sữa bò, cơ thể trẻ có thể từ chối hấp thu và gây nên một số dấu hiệu để mẹ sớm nhận biết. Tìm hiểu sớm thông tin và lựa chọn ngay cho con nguồn dinh dưỡng chuyên biệt dành riêng cho trẻ dị ứng đạm sữa bò mẹ nhé!',nuoiduongbeyeu5)
        .sLandingNewItem.bg-left.listColNew#itemNews6.fixHeight
          +itemLanding(url + 'nuoiduongbeyeu/miendichkhoe.html',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-06.jpg',imgPath + 'nuoiduongbeyeu/bg-nuoiduong-06-sp.jpg','Nuôi dạy con và nhật ký làm mẹ','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#nuoiduong6"></use></svg>','Sợi dây kết nối giữa bé và mẹ không biến mất khi con chào đời, mà sẽ ngày càng bền chặt hơn. Bé con bây giờ như chiếm hết toàn thời gian và suy nghĩ của mẹ. Đôi khi mẹ sẽ cảm thấy lo lắng, căng thẳng và áp lực ngay cả những việc nhỏ nhặt trong việc chăm sóc con. Một bí quyết nhỏ là hãy biến những điều đó thành khoảnh khắc gắn kết giữa mẹ và bé, chia sẻ điều đó như một nhật ký cho hành trình ngọt ngào của mình mẹ nhé!',nuoiduongbeyeu6)