extends layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "tu-van";
block content
    .sMainChild.sNew.sAdvisory
        .sBannerChild
            img(src= imgPath + 'tuvandinhduong/banner.jpg' alt="")
        .sMainContentItem.sIntroheader
            .container
                +breadcrumb([{'title':'Tư vấn dinh dưỡng'}])
                +headerlanding('Tư vấn dinh dưỡng','Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore')
        .sMainContentItem.bg-tuvan-1
            .container
                .page-header
                    h3
                        span.icon-text.icon-ttl-2
                        span.ttl-text Đội ngũ chuyên gia
                .sSlideperson.sSlidepersonSlider
                    .item
                        .image
                            a(href="#" data-toggle="modal" data-target="#personModalCenter")
                                img(src= imgPath + 'tuvandinhduong/img-02.png' alt="")
                        .info
                            h3 TS.BS. DAVID WILLIAM
                            p Trình độ: Tiến sĩ 
                            p Chuyên khoa dinh dưỡng
                    .item
                        .image
                            a(href="#" data-toggle="modal" data-target="#personModalCenter")
                                img(src= imgPath + 'tuvandinhduong/img-03.png' alt="")
                        .info
                            h3 TS.BS. LÊ THỊ HỒNG GẤM
                            p Trình độ: Tiến sĩ 
                            p Chuyên khoa dinh dưỡng
                    .item
                        .image
                            a(href="#" data-toggle="modal" data-target="#personModalCenter")
                                img(src= imgPath + 'tuvandinhduong/img-04.png' alt="")
                        .info
                            h3 BS. CHARLIE TRAN
                            p Trình độ: Tiến sĩ 
                            p Chuyên khoa dinh dưỡng
                    .item
                        .image
                            a(href="#" data-toggle="modal" data-target="#personModalCenter")
                                img(src= imgPath + 'tuvandinhduong/img-02.png' alt="")
                        .info
                            h3 TS.BS. DAVID WILLIAM
                            p Trình độ: Tiến sĩ 
                            p Chuyên khoa dinh dưỡng
                    .item
                        .image
                            a(href="#" data-toggle="modal" data-target="#personModalCenter")
                                img(src= imgPath + 'tuvandinhduong/img-03.png' alt="")
                        .info
                            h3 TS.BS. LÊ THỊ HỒNG GẤM
                            p Trình độ: Tiến sĩ 
                            p Chuyên khoa dinh dưỡng
                    .item
                        .image
                            a(href="#" data-toggle="modal" data-target="#personModalCenter")
                                img(src= imgPath + 'tuvandinhduong/img-04.png' alt="")
                        .info
                            h3 BS. CHARLIE TRAN
                            p Trình độ: Tiến sĩ 
                            p Chuyên khoa dinh dưỡng
        .sMainContentItem.bg-tuvan-2
            .container
                .page-header
                    h3
                        span.icon-text
                            <svg viewBox="0 0 48 50" class="icon-shape">
                                <use xlink:href="#ic-chia-se-chuyen-gia"></use>
                            </svg>
                        span.ttl-text Chia sẻ cùng chuyên gia
                .sListsAdvisory
                    .item
                        .row
                            .col-lg-7.align-self-center
                                .info
                                    h3 Bí quyết mẹ khoẻ
                                    p Làm mẹ là một hành trình ngọt ngào, nhiều hạnh phúc nhưng cũng không ít gian nan và vất vả. Bởi đó là khi mọi nỗ lực trong cuộc sống của mẹ đều đặt vào thiên thần nhỏ của mình. Làm thế nào để con được phát triển toàn diện từ thể chất đến trí não? Ba mẹ phải làm gì để nuôi dạy con tốt nhất? Và hàng ngàn câu hỏi khác mẹ đặt ra trong suốt hành trình nuôi con của mình. Chuyên gia VitaDairy sẽ luôn sẵn sàng chia sẻ cùng mẹ những kinh nghiệm chăm sóc, nuôi nấng và dạy dỗ con một cách khoa học nhất.
                                    .btnDiv
                                        +a-btn-primary('Xem chi tiết','#')
                            .col-lg-5
                                .image
                                    a(href="#")
                                        img(data-src= imgPath + 'tuvandinhduong/img-05.jpg' alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
                    .item
                        .row
                            .col-lg-7.align-self-center
                                .info
                                    h3 Nuôi dưỡng bé yêu
                                    p Mẹ đã sẵn sàng cho hành trình chờ đón thiên thần của mình chưa? Có quá nhiều thứ cần phải chuẩn bị cho sự hiện diện của bé con. Nếu đây là lần đầu lên kế hoạch sinh con, mẹ sẽ gặp một chút bối rối, nhưng đừng lo, mẹ sẽ làm tốt mọi việc như chính bản năng làm mẹ mà tạo hoá ban tặng. Các chuyên gia VitaDairy cùng những thông tin hữu ích và khoa học, sẽ luôn đồng hành cùng mẹ trong các giai đoạn mẹ nhé!
                                    .btnDiv
                                        +a-btn-primary('Xem chi tiết','#')
                            .col-lg-5
                                .image
                                    a(href="#")
                                        img(data-src= imgPath + 'tuvandinhduong/img-06.jpg' alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
                    .item
                        .row
                            .col-lg-7.align-self-center
                                .info
                                    h3 Chăm sóc người lớn tuổi
                                    p Khi tuổi càng cao, con người thường phải đối mặt với nhiều vấn đề về sức khoẻ và tâm lý. Chế độ dinh dưỡng hợp lý, tinh thần thoải mái và thực hiện vận động vừa sức sẽ giúp người lớn tuổi cải thiện sức khoẻ và ngăn ngừa bệnh tật.
                                    .btnDiv
                                        +a-btn-primary('Xem chi tiết','#')
                            .col-lg-5
                                .image
                                    a(href="#")
                                        img(data-src= imgPath + 'tuvandinhduong/img-07.jpg' alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
        .sMainContentItem.bg-tuvan-3
            .container
                .page-header
                    h3
                        span.icon-text
                            <svg viewBox="0 0 48 50" class="icon-shape">
                                <use xlink:href="#ic-cau-hoi"></use>
                            </svg>
                        span.ttl-text Những câu hỏi thường gặp (FAQ)
                .sBoxFaq
                    .sBoxFaqLeft
                        .text-center
                            h3 Câu hỏi
                        .faqGrid
                            .scroll-ui
                                +faq(imgPath + 'tuvandinhduong/img1.png',"3","Nguyễn Thị Tuyết Mai",'data-item1','active')
                                +faq(imgPath + 'tuvandinhduong/img1.png',"3","Mai Thị Kiều Châu",'data-item2')
                                +faq(imgPath + 'tuvandinhduong/img1.png',"3","Mai Thị Kiều Châu",'data-item3')
                    .sBoxFaqRight
                        .text-center
                            h3 Câu trả lời
                        .faqGridContent
                            .item.data-item1.data-hide.active
                                .scroll-ui
                                    .sContent
                                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam en nonumy eirmod tempor invidunt et dolore magna.
                                        p At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                                        p At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                                .sname
                                    h4 TS.BS. Lê Thị Hồng Gấm
                                    p Trung tâm dinh dưỡng VitaDairy
                            .item.data-item2.data-hide
                                .scroll-ui
                                    .sContent
                                        p 2Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam en nonumy eirmod tempor invidunt et dolore magna.
                                        p  2At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                                        p  2At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                                .sname
                                    h4 TS.BS. Lê Thị Hồng Gấm
                                    p Trung tâm dinh dưỡng VitaDairy
                            .item.data-item3.data-hide
                                .scroll-ui
                                    .sContent
                                        p 2Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam en nonumy eirmod tempor invidunt et dolore magna.
                                        p  2At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                                        p  2At vero eos et accusam et justo duo dolores et ea rebum. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, seddiam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.
                                .sname
                                    h4 TS.BS. Lê Thị Hồng Gấm
                                    p Trung tâm dinh dưỡng VitaDairy

                .text-center
                    +a-btn-primary('Xem thêm','#')


        .sMainContentItem.bg-tuvan-4
            .container
                .sFormAdv
                    .row
                        .col-lg-5.align-self-end
                            img(data-src= imgPath + 'tuvandinhduong/img-08.png' alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
                        .col-lg-7
                            .page-header
                                h3
                                    span.icon-text
                                        <svg viewBox="0 0 48 50" class="icon-shape">
                                            <use xlink:href="#ic-cau-hoi"></use>
                                        </svg>
                                    span.ttl-text Đặt câu hỏi cho chuyên gia
                                a(href="tel:+1900633559"): img(src= imgPath + 'hotline.svg' alt="")
                            .page-header-des
                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                            .sForm.form-style
                                +input-box("text","","","Tên của mẹ *",'Nhập tên của mẹ','')
                                +input-box("text","","","Email *",'Nhập email','')
                                +input-box("text","","","Số điện thoại liên lạc",'Nhập số điện thoại','')
                                .form-group
                                    label Chủ đề bạn quan tâm
                                    select.selectpicker.form-control(title="Chọn chủ đề bạn quan tâm")
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                +textarea-box('','','Nội dung câu hỏi *','Nhập nội dung câu hỏi','3')
                                .row
                                    .col-6
                                        +a-btn-primary('Gửi','#','','icon-contact')
                                    .col-6
                                        .capcha
                                            img(src= imgPath + 'captcha.png' alt="")
block modal
    #personModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLongTitle.modal-title Thông tin chuyên gia
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.ic-close
                .modal-body
                    .row
                        .col-md-5
                            .sSlideperson
                                .item
                                    .image
                                        a(href="#" data-toggle="modal" data-target="#personModalCenter")
                                            img(src= imgPath + 'tuvandinhduong/img-02.png' alt="")
                                    .info
                                        h3 TS.BS. DAVID WILLIAM
                                        p Trình độ: Tiến sĩ 
                                        p Chuyên khoa dinh dưỡng
                                    a(data-toggle="modal"  class="btn btn-primary btn-icon-contact " data-target="#fromModalCenter" data-dismiss="modal"  title="Gửi câu hỏi cho chuyên gia"): span Gửi câu hỏi cho chuyên gia

                        .col-md-7
                            .sSlidepersonInfo
                                .scroll-ui
                                    .sContent
                                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
    #fromModalCenter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    i.ic-close
                .modal-body
                    .sFormAdv
                        .row
                            .col-sm-5.align-self-end
                                img(data-src= imgPath + 'tuvandinhduong/img-08.png' alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
                            .col-sm-6
                                .page-header
                                    h3
                                        span.icon-text
                                        span.ttl-text Đặt câu hỏi cho chuyên gia
                                    a(href="tel:+1900633559"): img(src= imgPath + 'hotline.svg' alt="")
                                .page-header-des
                                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                                .sForm.form-style
                                    +input-box("text","","","Tên của mẹ *",'Nhập tên của mẹ','')
                                    +input-box("text","","","Email *",'Nhập email','')
                                    +input-box("text","","","Số điện thoại liên lạc",'Nhập số điện thoại','')
                                    .form-group
                                        label Chủ đề bạn quan tâm
                                        select.selectpicker.form-control(title="Chọn chủ đề bạn quan tâm")
                                            option(value="Sample") Sample
                                            option(value="Sample") Sample
                                            option(value="Sample") Sample
                                            option(value="Sample") Sample
                                            option(value="Sample") Sample
                                    +textarea-box('','','Nội dung câu hỏi *','Nhập nội dung câu hỏi','3')
                                    .row
                                        .col-6
                                            +a-btn-primary('Gửi','#','','icon-contact')
                                        .col-6
                                            .capcha
                                                img(src= imgPath + 'captcha.png' alt="")