extends layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "tuyen-dung"

block content
    .sMainChild.sCarree.sNew
        .container
            +breadcrumb([{'title':'Tuyển dụng'}])
        .sLandingNew
            .sLandingNewItem.bg-right.listColNew#itemNews1.fixHeight
                +itemLanding('#',imgPath + 'tuyendung/bg-tuyendung-1.jpg',imgPath + 'tuyendung/bg-tuyendung-1-sp.jpg','Môi trường làm việc','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#ic-tuyen-dung-1"></use></svg>','Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.')
                .sLandingNewItem.bg-right.listColNew#itemNews1.fixHeight
                +itemLanding('#',imgPath + 'tuyendung/bg-tuyendung-2.jpg',imgPath + 'tuyendung/bg-tuyendung-2-sp.jpg','Cơ hội nghề nghiệp','','<svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#ic-tuyen-dung-2"></use></svg>','Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.')