extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "doi-tac"

block content
    .sMainChild.sDist
        .container
            +breadcrumb([{'title':'Đối tác & Phân phối','link':'#'},{'title':' Phân phối'}])
            .sNew2Cold
                .item
                    .row
                        .col-sm-6.align-self-center
                            .page-header
                               h4 Thị trường nội địa
                            .des 
                                p Hệ thống phân phối của VitaDairy trải rộng khắm 63 tỉnh thành và xuất khẩu sang thị trường Myanma. Với hơn 60.000 cửa hàng, VitaDairy đã nhanh chóng mở rộng, tiếp cận thị trường, đa dạng hoá sản phẩm, bao gồm các sản phẩm trẻ em, người trưởng thành, phụ nữ mang thai và các sản phẩm đặc trị dành cho người bệnh.
                        .col-sm-6
                            .image
                                img(src= imgPath + 'doitac/phanphoi/img01.jpg' alt="")
                .item
                    .row
                        .col-sm-6.align-self-center
                            .page-header
                               h4 Thị trường quốc tế
                            .des 
                                p VitaDairy tích cực tham gia các Hội chợ, Triển lãm mang tầm cỡ quốc tế như: Triển lãm tại Myanmar, Triển lãm quốc tế ngành Sữa và Sản phẩm Sữa Vietnam Dairy với mong muốn tìm hiểu thị trường và lắng nghe phản hồi về sản phẩm.
                                p Trong năm 2018, VitaDairy đã tham gia Hội chợ Gulfood Dubai 2018 - Hội chợ hàng đầu thế giới về nông sản - thực phẩm và đồ uống được tổ chức hàng năm tại Dubai. Những thành công bước đầu tại Hội chợ Gulfood 2018 cho thấy sự quan tâm của khách hàng đối với sản phẩm của VitaDairy. Đây chính là động lực để VitaDairy không ngừng nghiên cứu, sản xuất những sản phẩm tốt hơn nữa, đồng thời đẩy mạnh thương mại sang thị trường Trung Đông cũng như các nước khác trên thế giới.
                        .col-sm-6
                            .image
                                img(src= imgPath + 'doitac/phanphoi/img02.jpg' alt="")