extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "truyen-thong"

block content
    .sMainChild.sNew.sNewDetail
        .sBannerChild
            img(src= imgPath + 'truyenthong/banner01.jpg' alt="")   
        .sMainContent-news
            .container
                +breadcrumb([{'title':'Truyền thông','link':'#'},{'title':'Vì con mẹ tặng','link':'#'},{'title':'Sản phẩm Colosbaby'}])
        .sMainContent-news.bg-dangky-1
            .container
                .page-header
                    h3
                        span.icon-text
                            <svg viewBox="0 0 48 50" class="icon-shape">
                                <use xlink:href="#ic-cau-hoi"></use>
                            </svg>
                        span.ttl-text Đăng ký thông tin nhận mẫu 
                    a(href="tel:+1900633559"): img(src= imgPath + 'hotline.svg' alt="")
                .row
                    .col-lg-7
                        .page-header-des
                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                        .sFormAdv 
                            .sForm.form-style
                                +input-box("text","","Nhập tên của bạn","Tên của bạn *",'','')
                                +input-box("text","","Nhập số điện thoại","Điện thoại",'','')
                                +input-box("text","","Nhập email","Email *",'','')
                                +input-box("text","","Nhập tên của bé","Tên của bé thứ nhất * ",'','')
                                .form-group
                                    label(for='datepicker') Sinh nhật của bé *
                                    .input-group-date
                                        span.icon-date
                                        input#datepicker.form-control(type='text', placeholder='', name='datepicker', value='Chọn sinh nhật của bé')

                                .form-group
                                    label Tỉnh / thành *
                                    select.selectpicker.form-control(title="Chọn tỉnh / thành")
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") 
                                .form-group
                                    .row
                                        .col-6
                                            label Quận / huyện *
                                            select.selectpicker.form-control(title="Chọn quận / huyện")
                                                option(value="Sample") Sample
                                                option(value="Sample") Sample
                                                option(value="Sample") Sample
                                                option(value="Sample") Sample
                                                option(value="Sample") Sample
                                        .col-6
                                            label Phường / xã *
                                            select.selectpicker.form-control(title="Chọn phường / xã")
                                                option(value="Sample") Sample
                                                option(value="Sample") Sample
                                                option(value="Sample") Sample
                                                option(value="Sample") Sample
                                                option(value="Sample") Sample
                                +input-box("text","","Nhập số nhà và tên đường","Số nhà và tên đường *",'','')
                                +textarea-box('Nhập nội dung ghi chú','','Ghi chú','','3')
                                .custom-control.custom-checkbox
                                    input#customCheck.custom-control-input(type='checkbox', name='example1')
                                    label.custom-control-label(for='customCheck') Tôi đồng ý với các điều khoản bảo mật của VitaDairy
                                p: a(href="#" data-toggle="modal" data-target="#sFormCenter") Thể lệ chương trình
                                .row
                                    .col-6.align-self-center
                                        +a-btn-primary('Gửi','#','','icon-contact')
                                    .col-6
                                        .capcha
                                            img(src= imgPath + 'captcha.png' alt="")
                    .col-lg-5.align-self-center
                        .image
                            img(src= imgPath + 'dangki/dang-ki-01.png' alt="")
        .sMainContent-news.bg-dangky-2
            .container
                .sdangkyBox
                    .row
                        .col-lg-6.text-center.align-self-center
                            .image
                                img(src= imgPath + 'dangki/dang-ky-02.png' alt="")
                            +a-btn-primary('Mua ngay','#','','ic-shop')
                        .col-lg-6
                            .sdangkyBoxInfo.scroll-ui
                                .infoSlider
                                    .itemWrap
                                        .item
                                            span.txt-icon
                                                <svg viewBox="0 0 60 53.4" class="icon-shape">
                                                    <use xlink:href="#ic-loi-ich-1"></use>
                                                </svg>
                                            .des
                                                h4 Ngủ ngon mau lớn
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                <svg viewBox="0 0 40 39.864" class="icon-shape">
                                                    <use xlink:href="#nuoiduong2"></use>
                                                </svg>
                                            
                                            .des
                                                h4 Chống táo bón
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                <svg viewBox="0 0 60 68.889" class="icon-shape">
                                                    <use xlink:href="#nuoiduong3"></use>
                                                </svg>
                                            .des
                                                h4 Phát triển chiều cao 
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                        .item
                                            span.txt-icon
                                                <svg viewBox="0 0 60 68.889" class="icon-shape">
                                                    <use xlink:href="#ic-tangcan"></use>
                                                </svg>
                                            .des
                                                h4 Tăng cân khoẻ mạnh
                                                p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        .sMainContent-news.bg-dangky-3
            .container
                .page-header
                    h3
                        span.icon-text
                            <svg viewBox="0 0 48 50" class="icon-shape">
                                <use xlink:href="#ic-chuong-trinh"></use>
                            </svg>
                        span.ttl-text Chương trình khác
                .sProductSlider2
                    .item
                        .image
                            a(href="dangky.html"): img(src= imgPath + 'dangki/dang-ky-03.png' alt="")
                        h4 Quà tặng từ Goatlac
                    .item
                        .image
                            a(href="dangky.html"): img(src= imgPath + 'dangki/dang-ky-04.png' alt="")
                        h4 Quà tặng từ Calosure
                    .item
                        .image
                            a(href="dangky.html"): img(src= imgPath + 'dangki/dang-ky-05.png' alt="")
                        h4 Quà tặng từ Gluvita
                    .item
                        .image
                            a(href="dangky.html"): img(src= imgPath + 'dangki/dang-ky-03.png' alt="")
                        h4 Quà tặng từ Goatlac
                    .item
                        .image
                            a(href="dangky.html"): img(src= imgPath + 'dangki/dang-ky-04.png' alt="")
                        h4 Quà tặng từ Calosure
                    .item
                        .image
                            a(href="dangky.html"): img(src= imgPath + 'dangki/dang-ky-05.png' alt="")
                        h4 Quà tặng từ Gluvita
block modal
    #sFormCenter.modal.sFormCenter.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalCenterTitle', aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLongTitle.modal-title Thể lệ chương trình
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        i.ic-close
                .modal-body
                    .scroll-ui
                        .sContent
                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            p Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
                            p: strong 1. Lorem ipsum dolor sit amet
                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata.
                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            p: strong 2. Consetetur sadipscing elit
                            p No sea takimata sanctus est Lorem ipsum dolor sit amet:
                            p – Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            p – At vero eos et accusam et justo duo dolores et ea rebum. 
                            p - Lorem ipsum dolor sit amet, consetetur sadipscing elitr
