extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "bi-quyet"

block content
    .sMainChild.sNew.sNewDetail
        .sMainContent.bg-thongtinkhuyemai
            .container
                +breadcrumb([{'title':'Truyền thông','link':'#'},{'title':'Thông tin khuyến mãi'}])
            .sMainContentInfo
                .container
                    .sInfo.listColNew
                        .bigImageEvent.bigImageEventSlider
                            .item
                                +itemBigEventSlider(imgPath + 'thongtinkhuyenmai/img-01.jpg','image',"#","​[Khuyến mại] Hè rộn ràng, muôn vàn quà tặng từ…")
                            .item
                                +itemBigEventSlider(imgPath + 'thongtinkhuyenmai/img-01.jpg','image',"#","​[Khuyến mại] [Khuyến mại] Vui khỏe cùng vitadairy")
                            .item
                                +itemBigEventSlider(imgPath + 'thongtinkhuyenmai/img-01.jpg','image',"#","[Khuyến mại – miền nam] Nhận ngay quà to từ vitadairy")
                   
        .sMainContentInfo.bg-thongtinkhuyemai-1
            .container
                .page-header
                    .row
                        .col-sm-8
                            h3
                                span.icon-text
                                    <svg viewBox="0 0 63.891 50" class="icon-shape">
                                        <use xlink:href="#ic-thongtinkhuyenmai"></use>
                                    </svg>
                                span.ttl-text Thông tin Khuyến mãi
                        .col-sm-4
                            select.selectpicker.form-control(title="Tin mới nhất")
                                option(value="Sample") Sample
                                option(value="Sample") Sample
                                option(value="Sample") Sample
                                option(value="Sample") Sample
                                option(value="Sample") Sample
                -
                    var news2 = [
                        {'title' : "[Khuyến mại] Vui khỏe cùng vitadairy", 'img': 'thongtinkhuyenmai/img-02.jpg','url' : "#"},
                        {'title' : "[Khuyến mại – miền nam] Nhận ngay quà to từ vitadairy", 'img': 'thongtinkhuyenmai/img-03.jpg','url' : "#"},
                        {'title' : "[Khuyến mại] Gia hạn chương trình khuyến mại tháng 8…", 'img': 'thongtinkhuyenmai/img-04.jpg','url' : "#"},
                        {'title' : "[Khuyến mại] Ngập tràn quà tặng từ ”chương trình…", 'img': 'thongtinkhuyenmai/img-05.jpg','url' : "#"},
                        {'title' : "[Khuyến Mại – Miền Bắc] Cơn lốc quà tặng từ Vitadairy", 'img': 'thongtinkhuyenmai/img-06.jpg','url' : "#"},
                        {'title' : "[Khuyến Mại] Vui đón hè sang ngập tràn quà tặng", 'img': 'thongtinkhuyenmai/img-07.jpg','url' : "#"}
                    ]
                .sNewsSlider.row.sNewsSliderList
                        for x in news2
                            .col-md-4.col-sm-6
                                .item
                                    a(href=x.url)
                                        img(data-src= imgPath + x.img alt="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg==").lazy
                                    .info
                                        .date 21/09/2019
                                        a(href=x.url)
                                            = x.title
                                        p Lorem ipsum dolor sit amet, consec tetur adip isicing elit, sed do eiusmod tempor 
                                        +a-btn-link('Xem thêm','#')
                .sPaiging
                    +pagination([
                        {text:'<i class="arrow_carrot-left"></i>',url:'#'},
                        {text:'1',url:'#'},
                        {text:'2',url:'#'},
                        {text:'3',url:'#'},
                        {text:'...',url:'#'},
                        {text:'<span>Cuối</span><i class="arrow_carrot-right"></i>',url:'#'}
                    ])