extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "tuyen-dung"

block content
    .sMainChild.sContact
        .fixHeight.sContactImg
            .bgImg(style="background-image:url(" + imgPath + 'tuyendung/banner-co-hoi-nghe-nghiep.jpg' + ")")
                .bgImgsp(style="background-image:url(" + imgPath + 'tuyendung/banner-co-hoi-nghe-nghiep-sp.jpg' + ")")
                .container
                    +breadcrumb([{'title':'Tuyển dụng ','link':'#'},{'title':'Cơ hội nghề nghiệp'}])
                    .des
                        h2 Cơ hội nghề nghiệp
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. 
        .sMainContent
            .container
                .page-header
                    h3
                        span.icon-text
                            <svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#ic-tuyen-dung"></use></svg> 
                        span.ttl-text Các vị trí đang tuyển dụng
                .form-style
                    .row
                        .col-sm-8.align-self-center
                            .form-group
                                .custom-control.custom-radio
                                    input#exampleRadios1.custom-control-input(type='radio', name='customRadio' checked)
                                    label.custom-control-label(for='exampleRadios1') Đang tuyển
                                .custom-control.custom-radio
                                    input#exampleRadios2.custom-control-input(type='radio', name='customRadio')
                                    label.custom-control-label(for='exampleRadios2') Đã hết hạn
                        .col-sm-4
                            .form-group
                                    label Lĩnh vực
                                    select.selectpicker.form-control(title="Tất cả")
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                                        option(value="Sample") Sample
                .sBoxApply
                    table
                        thead
                            tr
                                th Vị trí tuyển dụng
                                th Nơi làm việc
                                th Số lượng
                                th Ngày hết hạn
                        tbody
                            - for (var x = 1; x < 10; x++)
                                tr
                                    td: a(href="chitiet.html") Giám sát bán hàng
                                    td Đồng Tháp
                                    td 01
                                    td 22/11/2019
                .sPaiging
                    +pagination([
                        {text:'<i class="arrow_carrot-left"></i>',url:'#'},
                        {text:'1',url:'#'},
                        {text:'2',url:'#'},
                        {text:'3',url:'#'},
                        {text:'...',url:'#'},
                        {text:'<span>Cuối</span><i class="arrow_carrot-right"></i>',url:'#'}
                    ])
