extends ../layouts/_layout_default

block setting
    - title = "Công ty cổ phần sữa VitaDairy Việt Nam"
    - mainActive = "tuyen-dung"

block content
    .sMainChild.sContact
        .sContactImg
            .image
                img(src= imgPath + 'tuyendung/banner-co-hoi-nghe-nghiep.jpg' alt="")
                .info
                    .container
                        +breadcrumb([{'title':'Tuyển dụng ','link':'#'},{'title':'Cơ hội nghề nghiệp'}])
                        .des
                            h2 Cơ hội nghề nghiệp
                            p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr. 
        .sMainContent
            .container
               .page-header
                    h2
                        span.icon-text
                            <svg viewBox="0 0 40 40" class="icon-shape"><use xlink:href="#ic-tuyen-dung-2"></use></svg> 
                        span.ttl-text Các vị trí đang tuyển dụng
                    
